[2016-04-13 11:49] #3719 closed

[2016-04-13 11:49] #3724 closed

[2016-04-13 12:18] #3657 closed

[2016-04-13 12:19] pierlo-upitup commented on #3658
After talking with @gkleiman and @aquamatthias we agreed that the correct solution here is to add a "Kill & Wipe" button for stateful tasks.

[2016-04-13 13:50] Gidipp commented on #3665
Thank you very match for your help.

I have changed the API endpoint to `/groups` and effectively it works fine.

However I don't understand what would be the best way to access the database from the application.

I can't use an HTTP proxy since the connection is pure TCP and I won't like to use the HOST network because I would lose the possibility to run multiple Redis container in the same host.

[2016-04-13 14:17] ruippeixotog commented on #3706
Thank you for the links! I think that the plugin approach won't work for me as it seems it can only provide new endpoints rooted at `/v2/plugins`, being unable to modify existing endpoints. I'll consider replacing the UI files in the assembly JAR instead - it's a bit cumbersome but it can be done. Thanks again!

[2016-04-13 14:50] #3658 closed

[2016-04-13 15:10] duffqiu commented on #2432
@gkleiman i am using marathon 0.15.3, does it work?
If yes, how to use it?
with the request with empty ipAddress as the doc said?
please give me direct guide
thanks a lot!

{
  "id": "/i-have-my-own-ip",
  "ipAddress": {}
}

[2016-04-13 18:40] jdef opened #3763 "ext vol feature flag warning not visible in UI if app instances > 1"
EDIT: To be clear, you must enter JSON mode and create an app definition with illegal external volume declarations in order to observe these unclear error messages.

I tried creating this JSON spec in the UI and received the following error message that doesn't mention the feature flag:
[code]

error message:
[code]

[2016-04-13 18:44] jdef commented on #3763
similarly, if I specify a bogus provider name, I get an error message that doesn't reference the feature flag (and apparently doesn't mention the provider name either):

[code]

error:
[code]

[2016-04-13 19:09] jdef commented on #3763
FWIW, when I perform the same "attempted create" operation via the API using cURL I get multiple error messages, for example:
[code]

[2016-04-13 20:21] timcharper opened #3765 "Allow allocation of persistent volumes on non-root mesos disk resources"
Mesos supports multiple-disk resources of the following kinds of disk resources: "Root", "Path", and "Mount". In the present release candidate, it is impossible to allocate a persistent volume on a disk resource other than root. Marathon will see non-root disk resources offered, and completely ignore them.

I believe this could be resolved somewhat easily by:

- Adding an optional string parameter

[2016-04-14 00:17] varkolli opened #3766 "Facing Privilege Issues Even Though When Set The Parameter To True"
My deployments are failing with permissions denied issues even though when set Privilege to TRUE via Marathon API /v2/apps. I am trying to access the file which is inside the container.
When I tried this through CLI on one of the worker nodes without any privileges set, I was able to access. But I am seeing issues only while doing it from the Marathon API

Marathon Version : Version 0.13.0
Mesos V

[2016-04-14 01:06] timcharper opened #3767 "Cannot delete "cmd" / Command property of Docker job once set"
Recorded screencast showing the issue:

http://screencast.com/t/qOKPQHCmM

This bug seems to be in multiple places; if I delete the `cmd` key altogether from the JSON payload, and click post, then `PUT` is issued with `{}` (absolutely no changes). If I set the `cmd` key to `null` or wipe it out in the friendly UI, then `PUT` is issued with `{cmd: null}` but marathon ignores it.

Reproducible in Ma

[2016-04-14 01:42] junneyang commented on #1923
+1

[2016-04-14 02:50] Ace-Tang commented on #3602
thanks, gkleiman
I got the answer, marathon flag --zk zk://host1:port1,host2:port2,.../path ,this flag will help

[2016-04-14 07:04] junneyang commented on #1001
i suggest the hook solution like this:
{
    "id": "/develop/test/myapp",
**    "preCmd": "some initial commands on the slave node",                                                              1**
    "cmd": "env && cd applications/ && chmod 755 run.sh && ./run.sh",
**    "postCmd": "some post commands on the slave node",                                                                 2**
    "co

[2016-04-14 07:22] junneyang commented on #894
@jhmartin
Any plans for adding pod support in marathon?
Thanks!

[2016-04-14 07:32] junneyang commented on #2259
+1

[2016-04-14 08:46] Poltergeist opened #3770 "External Volumes validation"
Error creating app due to capital letter in volume name.

Volume names must match the following regular expression
`^[a-z0-9](?:[-a-z0-9]*[a-z0-9])?$`

Valid names are:
- `volume`
- `volume007`
- `volume-volume09`
- `volume-volume`

[2016-04-14 08:48] Poltergeist opened #3771 "Volume tab should not be showing in task detail view"
The volume tab should not been shown if only external volumes are defined. A external volume does not attach to a single task of a application like local volumes do.

[2016-04-14 08:51] Poltergeist opened #3772 "Filter badge for External volumes is hidden until checked"
The Filter badge for the Volumes filter is only shown when a filter is applied. The badge number should always be visible.

No filter applied:
![image](https://cloud.githubusercontent.com/assets/156010/14522405/b05f49ac-022e-11e6-9591-585ae7cc7f9a.png)

Filter applied:
![image](https://cloud.githubusercontent.com/assets/156010/14522417/bc9cfc78-022e-11e6-9bc1-87447bb94226.png)

[2016-04-14 08:53] Poltergeist opened #3773 "Volume detail lacks “Volumes” in breadcrumb"
The Breadcrumb should show `Volumes` if the user is currently on the volumes detail view.

![image](https://cloud.githubusercontent.com/assets/156010/14522467/ea9586a4-022e-11e6-91d8-b1a6813ce4c6.png)

[2016-04-14 08:55] andyreidz commented on #2424
+1, we also have need of this feature.

[2016-04-14 08:55] Poltergeist opened #3774 "External volume container tooltip needs update"
The tooltips shows the same information as in local volumes the text should be different since the container path of external volumes needs `/` and local volumes doesn't allow `/` also the read more link is directed to the local volumes documentation.

[2016-04-14 13:17] #3763 closed

[2016-04-14 14:59] meichstedt commented on #3765
Hi @timcharper, thanks for offering your help here, we'd be happy about your contribution.

As for the current state, I am not sure why disks other than `Root` are not used; they are not filtered out explicitly.

For `Path` disks, the approach sounds good and I agree, that seems rather easy to implement. For `Mount` disks, however, I'm not sure about the simplicity or the best approach. There are

[2016-04-14 15:37] gomes commented on #2224
@aquamatthias I think we can close this issue, since Marathon changed a lot and I don't have this kind of issue anymore.

[2016-04-14 15:39] meichstedt opened #3779 "Provide working example for VIP routing"
Please provide a working example (tutorial/deep dive) for [VIP routing](https://mesosphere.atlassian.net/browse/DOCS-742)

This may be integrated into the [DC/OS docs](https://github.com/dcos/dcos-docs), but it should at least be a part of the Marathon documentation.

An example of a deep dive can be found here: https://github.com/dcos/dcos-docs/pull/66

_Note: this should be done by eod 04/15_

[2016-04-14 15:42] meichstedt opened #3780 "Provide working example for External Volumes"
Please provide a working example (tutorial/deep dive) for [External Volumes](https://mesosphere.atlassian.net/browse/MARATHON-876)

This may be integrated into the [DC/OS docs](https://github.com/dcos/dcos-docs), but it should at least be a part of the Marathon documentation.

An example of a deep dive can be found here: https://github.com/dcos/dcos-docs/pull/66

_Note: this should be done by eod

[2016-04-14 15:44] meichstedt opened #3781 "Provide working example for Marathon Auth"
Please provide a working example (tutorial/deep dive) for [Marathon Auth](https://mesosphere.atlassian.net/browse/DOCS-760)

This may be integrated into the [DC/OS docs](https://github.com/dcos/dcos-docs), but it should at least be a part of the Marathon documentation.

An example of a deep dive can be found here: https://github.com/dcos/dcos-docs/pull/66

_Note: this should be done by eod 04/15_

[2016-04-14 16:27] timcharper commented on #3748
I just used this feature today from Marathon UI 1.1.0-RC2 and it worked!

[2016-04-14 16:39] gkleiman commented on #3779
Here's an app definition using port mappings:

[code]

[2016-04-14 16:45] hekaldama commented on #1618
I am still having this issue even with using top level ports defined, and docker param set as noted above. The UI still reports a random port association and the event bus advertises that port. I need to run HOST networking and define what port my app is running on so the event bus relays the correct information for LB updates.

Thanks.

[2016-04-14 18:28] dlaidlaw opened #3782 "Prevent cross site scripting and click jacking"
Cross site scripting and click jacking are major concerns. Many issues can be resolved by setting some headers in the HTTP responses for the user interface and rest responses for both the master and slave processes.

X-Frame-Options: Can be set to deny, sameorigin, or allow-from <uri>
X-XSS-Protection: 1; mode=block

These would go a long way to making sites using marathon more secure. Note that t

[2016-04-14 21:57] air commented on #344
Good news everyone - this is now actively in design phase.

[2016-04-14 22:04] EvanKrall opened #3783 "Marathon "recovering deployments", killing all tasks of some apps"
At Yelp, we've had a number of incidents since we upgraded to 0.15.3 where Marathon has killed all instances of an app.

Something (it's not clear what; possibly the traceback in the log snippet below?) appears to be triggering the MarathonSchedulerActor to restart, which "recovers" deployments. During the recovery of those deployments, Marathon first `Start`s the app, which sets instances = 0; th

[2016-04-15 01:36] xianlubird commented on #1618
@hekaldama you can test the ports attribute outside the container label.

[2016-04-15 02:33] drewrobb commented on #3357
I took a stab at fixing this, but it didn't seem to be the simple fix that I thought it might have been. Any guidance would be appreciated.

[2016-04-15 07:26] sjkyspa opened #3784 "Healthcheck in app groups"
Hi all, When I define the marathon request blow, Did the marathon will start the```api``` after the ```db``` is health?
Thanks in advance

[code]

[2016-04-15 07:49] aquamatthias commented on #2224
Close it for now.

[2016-04-15 07:49] #2224 closed

[2016-04-15 07:50] aquamatthias commented on #3748
Great.

[2016-04-15 10:00] Poltergeist commented on #3784
Hi @sjkyspa,

As written in the [docs](https://mesosphere.github.io/marathon/docs/rest-api.html#post-v2-apps)

Your application `api` will start after the `/controller/db` application is started. Following my knowledge the api should start after the healthchecks pass for the `db`

[2016-04-15 10:12] Poltergeist commented on #3782
Hi @dlaidlaw thanks for bringing this up. You are mentioning Mesos, but not Marathon. But still do you think that those headers should be set on marathon? And do you think it is a critical issue? I am currently trying to think of a good blackbox example.

So as a attacker I will have to know the address of the marathon server, then I could send a xhr get to the apps endpoint, and delete all applic

[2016-04-15 11:27] erSitzt commented on #2679
+1

[2016-04-15 13:05] dlaidlaw commented on #3782
Hi @Poltergeist, yes it is definitely a problem in Marathon as well. Sorry about the mesos in the original request, that was a copy/paste error. I also made the same request of the mesos folks. The main issue for me is [Clickjacking](https://www.owasp.org/index.php/Clickjacking). Without the X-Frame-Options header it can be very easy do do some nasty things with IFrames. And the attacker does not

[2016-04-15 14:01] Poltergeist commented on #3782
I propose to add a feature to marathon which introduces those Request Headers and prevent to have your marathon run in an Iframe. But I will suggest that this is a opt in feature which you have to enable with an argument, since one may want to run Marathon in an Iframe.

[2016-04-15 15:12] nicbet commented on #2679
+1

Having the docker host, that a container was placed on by Marathon, available in an ENV variable to the container would significantly simplify some of our routing and service discovery mechanisms, without the need to build custom base images with customized logic for discovering that very information before the main application in the container executes.

[2016-04-15 18:06] vishnu2kmohan opened #3786 "Marathon UI doesn't always automatically update the status of tasks"
A manual refresh is still required.

Reproducible on version 1.1.1 (Note: The keyboard shortcut `g v` states the version as 1.1.2)

Steps to reproduce:

dcos package install hdfs
dcos package install cassandra
dcos package install kafka
dcos package install jenkins

dcos package install _your favorite DCOS service with a complex health check_

[2016-04-15 19:23] rphull commented on #344
@air This is a much needed feature. Is there any high level estimate when can this be ready in the main branch?

[2016-04-15 19:50] rphull commented on #344
Is there a work around to have one-off docker containers using Marathon?

@doctapp Provided a nice workaround with suicide method for the commands. Is there anyway to achieve this for docker containers?

@chendo Can you please provide more ideas for the hack you tried?

[2016-04-15 22:39] tomwganem commented on #3091
We've also ran into this bug and can't seem to get the workaround working. Would it be possible to include the PR that fixes this bug into a 0.15.4 release?

[2016-04-16 14:13] BostonDriver opened #3788 "Provide support for Docker user-defined networks"
Marathon doesn't allow docker user-defined networks to be used.  Mesos added this support via [https://issues.apache.org/jira/browse/MESOS-4369](url).  Example json showing how to specify the user-defined network will also help.

[2016-04-16 16:41] jdef commented on #3636
Trying to understand the ask here. In the case of IP-per-CT it sounds like you want Marathon to allocate a hostPort from resource offers and link that host port to a containerAddress (containerIP:containerPort)? If MarathonLB can already determine which containerIP:containerPort tuples as assigned to a task and use such address for LB (implied by the marathon-lb fix above) then why does Marathon n

[2016-04-16 22:13] vishnu2kmohan opened #3789 "Marathon UI causes Chrome to lock up or really slow down when switching to JSON edit mode and back"
This is particularly noticeable when attempting to edit an application like `marathon-lb`

[2016-04-16 22:23] vishnu2kmohan opened #3790 "Marathon UI change tracking while in edit mode appears to be finicky"
Say I have an app configured to spawn `/usr/bin/python3 -m http.server $PORT0` and I attempt to edit it and type `python:3` in the value field for the docker image (or just make a plain old typo) that I back out of and reset the value and then proceed to make a change where I actually intended, the UI will still think that I wanted a Docker image which you can detect if you switch to JSON mode whe

[2016-04-17 05:40] haosdent commented on #3333
Hi, do you use MesosContainerizer or DockerContainerizer?  @lloesche

As I checked by [HealthCheckTest.HealthyTaskShellEscape](https://reviews.apache.org/r/46306/diff/1#index_header)

All below ways could pass:

[code]

[code]

[code]

And I am going to set up a marathon to test e2e.

[2016-04-17 06:29] haosdent commented on #3333
My marathon task json
[code]

Which could pass health check in Mesos
[code]

[2016-04-17 06:34] haosdent commented on #3333
By the way, I noticed marathon didn't set env for health check command. https://github.com/mesosphere/marathon/blob/master/src/main/scala/mesosphere/marathon/health/HealthCheck.scala#L89
[code]

[2016-04-17 15:51] adyatlov commented on #3790
This screen-cast shows another way to reproduce the issue. If you switch to JSON mode in the configuration dialog afterwards, you'll see that the container type was changed to DOCKER.
https://drive.google.com/a/mesosphere.io/file/d/0Bye3Wj7an4bDWEIwZ29makpCcG8/view

[2016-04-17 18:31] rupamroy opened #3791 "Tasks are not restarting nor scaling"
Hi
I am very new to Mesos/Marathon - I am following the following set of tutorials
https://open.mesosphere.com/advanced-course/using-the-marathon-gui/

When i start a task (command `python -m SimpleHTTPServer $PORT`) , it starts up correctly , but if i restart this task or try to scale up from 1 ==> 2 , It hangs up waiting on deployment. There is no logs and no way to tell what is going on.

Here

[2016-04-17 21:54] vishnu2kmohan commented on #3791
We'll need to see your app's complete JSON definition and it would help to share how may agents and the resources they each have (and the roles to which they belong).

[2016-04-18 02:53] rupamroy commented on #3791
Here is the complete json definition for my application

{
  "id": "/http-simple",
  "cmd": "python -m SimpleHTTPServer $PORT",
  "cpus": 1,
  "mem": 32,
  "disk": 0,
  "instances": 1,
  "healthChecks": [
    {
      "path": "/",
      "protocol": "HTTP",
      "portIndex": 0,
      "gracePeriodSeconds": 300,
      "intervalSeconds": 60,
      "timeoutSeconds": 20,
      "maxConsecutiveFailures":

[2016-04-18 03:59] robbrockbank commented on #3636
With IP per task/container, we don't want a host port - the IP and port of the container is directly exposed and so there is no requirement for a host port.

The problem is that in the IP per container app data, Marathon does not return a Service Port - so the LB has to assign it's own service port - which isn't particularly sound - Marathon should really be the one responsible for Service port ma

[2016-04-18 08:10] aquamatthias commented on #3791
@rupamroy: See here what Waiting means: https://mesosphere.github.io/marathon/docs/waiting.html
You probably run out of resources?

[2016-04-18 08:18] kolloch commented on #3202
#3489 is a duplicate of this. Since it already got assigned, I am closing this original entry.

[2016-04-18 08:18] #3202 closed

[2016-04-18 09:42] pierlo-upitup commented on #3789
Hi @vishnu2kmohan – could you provide more details please?
1. Which version of Marathon UI are you experiencing this with? (type `g v` in the Applications page to find out)
2. It would be great if you could paste the JSON for the application config that's causing the issue.

With a vanilla `marathon-lb` app config I was not able to reproduce in 1.1.2

[2016-04-18 09:45] #3790 closed

[2016-04-18 09:51] pierlo-upitup commented on #3773
Nice catch!

[2016-04-18 10:13] pierlo-upitup commented on #3767
Hi @timcharper,
first of all thanks for taking the time to record these screencasts – they help a lot!

Regarding the first issue (deleting the `cmd` property from the JSON editor entirely) I would argue that the correct way to "unset" the value is indeed to set that property to `null`. This tells Marathon that the previous value should be mutated to the newly sent one, in this case `null`. I'm no

[2016-04-18 10:16] pierlo-upitup commented on #3766
Hi @varkolli

could you please paste the JSON application definition for the the app that's causing the issue? Thanks.

[2016-04-18 10:17] pierlo-upitup commented on #3747
Hi @shijinkui

can you please specify the versions of Marathon and Mesos you're trying to run this on? Also, the JSON for the application definition would help.

[2016-04-18 10:20] pierlo-upitup commented on #3744
cc @air

[2016-04-18 10:22] pierlo-upitup commented on #3742
Hi @feisuzhu could you paste the app definition JSON for the app that's causing this? Also, which version of Mesos are you running this on? Thanks!

[2016-04-18 10:26] pierlo-upitup commented on #3733
Hi @junneyang
which Mesos and Marathon version are you trying to run this on?

[2016-04-18 10:29] pierlo-upitup commented on #3729
Hi @Nihn
could you provide the JSON of the app definition? Also, which Marathon and Mesos versions are you running this on?

[2016-04-18 10:39] shijinkui commented on #3747
* marathon: 1.1.0-RC1
* mesos: 0.28.0

[code]

[2016-04-18 10:44] junneyang commented on #3733
MesosVersion:0.27.1
MarathonVersion 0.15.3

[2016-04-18 12:05] orlandohohmeier opened #3793 "Wrong application status"
![](https://cloud.githubusercontent.com/assets/647035/14603443/ebe94b8e-056d-11e6-8eeb-ef90daa58e87.png)
![](https://cloud.githubusercontent.com/assets/647035/14603521/7f45ee96-056e-11e6-810b-17024a57d129.png)
An application with 0 running instances but configured to run  at least one instance should never appear as suspended but as waiting.

[2016-04-18 12:12] orlandohohmeier opened #3794 "Applications with Docker volumes are mistakenly treated as stateful applications"
![docker-volumes-stateful-app](https://cloud.githubusercontent.com/assets/647035/14603674/6bf1f406-056f-11e6-863a-8d0fc18104b0.gif)
Applications with Docker volumes, but without any local volumes, are mistakenly treated as stateful applications.

[2016-04-18 13:15] pierlo-upitup commented on #3767
After talking to @aquamatthias it seems like the `PUT` operation is unable to process the un-setting of a previously specified value (as is the case in the reported issue). This is not exactly a bug, so I'm removing the label.

A workaround to solve the problem would be to deploy a new application with the correct configuration and to destroy the previous one.

[2016-04-18 14:05] pierlo-upitup commented on #3178
Closing the issue for lack of response – please reopen if necessary.

[2016-04-18 14:05] #3178 closed

[2016-04-18 14:15] kolloch opened #3795 "Scalar GPU Resource Support"
From the design document referenced below:

"the focus is on supporting a narrow initial use case: homogenous machine-level GPU support (i.e. only 1 kind of GPU per machine)"

**Acceptance Criteria**

* [ ] Introduce a new field "gpus" in the app definition alongside "mem", "cpus" and "disk". Only integer values are allowed.
* [ ] Consume the appropriate amount of "gpus" when launching tasks. To b

[2016-04-18 14:16] pierlo-upitup commented on #3252
Can we close this?

[2016-04-18 14:54] vixns opened #3796 "use explicit path in error messages"
`{"message":"Object is not valid","details":[{"path":"/groups(1)/groups(0)/apps(0)/container/docker/portMappingsvalue(0)/name","errors":["must fully match regular expression '^[a-z0-9-]+$'"]}]}`

makes really hard to guess which app raise the error. It should contains explicit groups/apps names instead of `groups(x)/apps(x)`

[2016-04-18 15:13] kolloch commented on #3783
Hi @EvanKrall, thanks for reporting this.

As far as we can see, there are two parts that are misbehaving:

1. We get a timeout for a purge as a result of a canceled/failed deployment. We do not know the root cause of this yet and **we would appreciate the full logs of the failing Marathon to analyze this further**. This triggers a restart of the deployment actor which restarts all deployments.
1.

[2016-04-18 15:16] air commented on #3779
Also see https://github.com/dcos/dcos-vagrant/blob/master/examples/minuteman/README.md

[2016-04-18 15:22] kolloch commented on #3783
Oh, and if you can, please check if part 1 is still a problem with Marathon 1.1 since we have changed the related code quite a bit. Part 2 should unfortunately still be mostly the same.

[2016-04-18 15:32] aquamatthias commented on #3781
See PR here: https://github.com/mesosphere/wp-gh-test/pull/47

[2016-04-18 15:49] kolloch commented on #3463
There still might be a race if you recreate an app with the same name very quickly. Other than that, this should be resolved.

[code]

[2016-04-18 15:49] #3463 closed

[2016-04-18 15:53] varkolli commented on #3766
Hello There,

Very Good Morning,

Thanks for your reply. Please see the payload below ..

{
  "id": "/registration151",
  "cmd": "/Jars/common-service.jar",
  "instances": 1,
  "cpus": 0.5,
  "mem": 4096,
  "disk": 0,
  "executor": "",
  "constraints": [],
  "uris": [],
  "storeUrls": [],
  "ports": [
    5000
  ],
  "requirePorts": false,
  "backoffSeconds": 1,
  "backoffFactor": 1.15,
  "maxLaun

[2016-04-18 15:54] kolloch commented on #3488
When the periodic task reconciliation detects this, the orphaned app tasks will be killed. See [command line flags](https://github.com/mesosphere/marathon/edit/master/docs/docs/command-line-flags.md).

I don't really see how we can do that much better in our current model except disallowing canceling deployments. Or what would you like to see happening?

[2016-04-18 15:55] papog opened #3798 "Election consistency check preventing election from succeeding."
On a small cluster of 4 machines using 1.0RC1, the election seems to find a leader but that leader prints messages indicating it doesn't consider the result consistent.
[code]
The above message is very confusing as the leader is the machine where the check is failing and it prints its own name as the leader.

I don't see any reason why marathon would be confused by the hostname (the hostname retur

[2016-04-18 16:38] timcharper commented on #3765
I believe that you could, in theory, use resource roles to control which disks are available to be allocated by an application. However, that might complicate things as memory and ram would need to be allocated by the same resource role. ¯\_(ツ)_/¯

I don't know of any other signals we can use. Perhaps resource roles could be specified or persistent storage only?

[2016-04-18 17:02] solarkennedy commented on #3783
I'll work on upgrading our infrastructure to Marathon 1.1

[2016-04-18 18:06] meichstedt commented on #3765
We can't use resource roles for that – as soon as you statically reserve a resource by assigning it a role, you can no longer dynamically reserve it. I guess we could change the logic to match on statically reserved disks, but then we couldn't add reservation labels (to identify which task uses it).

[2016-04-18 20:48] spacejam commented on #3488
When I think of cancelling a destructive task, I expect that further destruction will be averted. Would it be quite complex to convert the destroy deployment into a scale-up deployment back to the pre-destroy size, if it gets canceled?

[2016-04-19 00:20] EvanKrall commented on #3783
Our logs have a lot of mildly sensitive information (app names, etc) in them that I'd rather not post in bulk here. I'll get in touch with you over email.

[2016-04-19 06:30] shijinkui commented on #3747
when i upgrate to v1.1.1, the problem also exist

[code]

[2016-04-19 07:54] aquamatthias opened #3801 "Warning for resident app scale has a $ sign"
The application is called /postgres, but the warning says $/postgres
![screenshot_01](https://cloud.githubusercontent.com/assets/330485/14631606/83e357ee-0614-11e6-8d3a-bef7bfc4f1ef.png)

[2016-04-19 08:25] meichstedt commented on #3747
Just a side note: you can remove the `"uris"` node – `uris` have been deprecated in favor of using the Mesos fetcher cache as you do with `"fetch"`. I don't think that's the problem though.

[2016-04-19 08:38] pierlo-upitup commented on #3733
I believe you need to specify the docker ID for the `volumes-from`, not the marathon app ID.
Does this help http://stackoverflow.com/questions/29065246/how-to-use-volumes-from-in-marathon?

[2016-04-19 08:38] #3770 closed

[2016-04-19 08:38] #3771 closed

[2016-04-19 08:38] #3772 closed

[2016-04-19 08:38] #3773 closed

[2016-04-19 08:38] #3774 closed

[2016-04-19 08:45] pierlo-upitup commented on #3798
See https://github.com/mesosphere/marathon/pull/3777

[2016-04-19 08:46] pierlo-upitup commented on #3796
I believe this PR will deliver a much more usable validation message https://github.com/mesosphere/marathon/pull/3741

Please re-open otherwise

[2016-04-19 08:46] #3796 closed

[2016-04-19 08:48] junneyang commented on #3733
@pierlo-upitup
thanks!

[2016-04-19 08:48] pierlo-upitup commented on #3786
Can you please add more details regarding the expected task status and the actual results you're seeing? Many thanks.

[2016-04-19 08:49] pierlo-upitup commented on #3733
You're very welcome @junneyang ! Closing the issue for now, feel free to re-open if needed.

[2016-04-19 08:49] #3733 closed

[2016-04-19 09:08] #3779 closed

[2016-04-19 09:21] kolloch commented on #3488
Our terminology with "stop" and "rollback" is confusing and not well defined.

@aquamatthias

"stop" is actually quite unpredictable from a user perspective since it will not change the definition of the goal state back to what was there before the deployment. It will not prevent Marathon from converging to the goal state (as expressed in the app definitions) some time later. A potential fix would

[2016-04-19 09:36] pierlo-upitup commented on #3793
Having a hard time reproducing this. Can you think of what could have triggered the Suspened in the screenshot above?

[2016-04-19 09:39] pierlo-upitup commented on #3793
According [to the source code](https://github.com/mesosphere/marathon-ui/blob/master/src/js/stores/AppsStore.js#L159), we only ever set `SUSPENDED` if the app has no deployments and 0 instances and 0 tasks.

[2016-04-19 09:59] aquamatthias commented on #3488
`stop` is a battleaxe functionality - we have removed it from the UI and we should also think about removing it from the API.

[2016-04-19 10:05] #3794 closed

[2016-04-19 10:05] #3801 closed

[2016-04-19 11:37] Nihn commented on #3729
@pierlo-upitup
Strange thing but I'm not able to reproduce it anymore. Closing ticket.

[2016-04-19 11:37] #3729 closed

[2016-04-19 11:52] bakstad commented on #3729
I have a similar problem. I also want to add a health check for marathon-lb running in docker.

My first problem was that I got the error message "curl not found" which I didn't understand, but it seems that health checks with protocol COMMAND are run _inside_ the container itself.

The second problem then became that the marathon-lb image does not have curl installed, so how would this even be po

[2016-04-19 12:05] dlaidlaw commented on #3782
Yes, I agree with that. The X-Frame-Options setting can take multiple values:

- DENY - to deny any attempt to be put into an Iframe
- SAMEORIGIN - only in a frame in a page from the same origin
-ALLOW-FROM uri - to allow from a specific uri.

Or nothing, to not specify the X-Frame-Options header is a good default to match the current behavior of Marathon.

[2016-04-19 12:10] liquid-sky opened #3804 "Host-to-container volume mapping in Marathon 1.1"
Since upgrading to Marathon 1.1, I don't see an option in GUI to map host path to Docker container path (as usually submitted with docker `--volume` flag).

Since my applications are still running, I assume that json way still works:

[code]

Is there a plan to discontinue support for volume mappings?

GUI volume config:
<img width="732" alt="screen shot 2016-04-19 at 13 07 20" src="https://cloud.

[2016-04-19 12:35] pierlo-upitup commented on #3729
@bakstad I'm not sure I understand what you're trying to do.

Is your goal to add a health check to the `marathon-lb` application itself? If so, how about using HTTP health check against a portIndex?

![image](https://cloud.githubusercontent.com/assets/1078545/14639230/b930b08c-063b-11e6-91f9-2379fc5f7875.png)

Or, from the JSON editor

[code]

[2016-04-19 12:54] bakstad commented on #3729
My goal is to run a healthcheck against marathon-lb's haproxy at port 9090 and ensure it is running, but I thought health checks only ran against the http://<host>:<allocated_port> and I completely overlooked the port settings. It solves my problem exactly, thanks!

 I'm sorry for the inconvenience.

[2016-04-19 13:13] pierlo-upitup commented on #3804
Hi @liquid-sky

we didn't remove the spacebar heating 😉  simply make sure you specify a docker image first in the `Docker Container` settings to access the docker volume settings.

[2016-04-19 13:14] pierlo-upitup commented on #3804
@leemunroe we should consider adding a tooltip or some sort of information in the Volumes section mentioning that you need to specify a docker image first to have access to the docker volumes.

[2016-04-19 13:15] sttts commented on #3804
Show the volume widgets, but make them disabled with a tooltip "only available for Docker containers".

[2016-04-19 13:23] liquid-sky commented on #3804
Ahh, just noticed that the section appears when docker image name is entered. Thanks, folks!

[2016-04-19 13:42] aquamatthias commented on #3798
@sttts can you look into this one?

[2016-04-19 13:45] aquamatthias commented on #3784
Please reopen, if it does not work as expected

[2016-04-19 13:45] #3784 closed

[2016-04-19 14:06] liquid-sky commented on #1553
Looks like after upgrading to 1.1.1 this is no longer happening. I've found [another reference to this issue](https://github.com/mesosphere/marathon/issues/3783).

[2016-04-19 14:07] papog commented on #3798
I have just managed to rebuild Marathon from Git. Should I try with that version instead?

[2016-04-19 14:21] sttts commented on #3798
@papog the message you are seeing (usually) means that the leadership election is not yet finished. Because Marathon usually proxies requests to the current leader, it will hold back any API requests until the leadership looks "consistent" in order to avoid forwarding in an unstable leadership state.

Can you confirm that this message appears only for 2 or 3 seconds maximum?

[2016-04-19 14:33] papog commented on #3798
I am not managing to get any leader election to succeed. My impression is that after a number of attempts where the election is not consistent the election is stuck (everybody thinks traap01 is the leader but traap01 thinks the result is inconsistent).
When I check with the web browser I see an error message:
HTTP ERROR: 503
Problem accessing /. Reason:

    Could not determine the current leader

[2016-04-19 14:40] sttts commented on #3798
@papog can you post a Marathon log of that node as a gist?

[2016-04-19 14:58] kolloch opened #3806 "Not setting the Mesos principal leads to silently failed reservations"
If you try to use local volumes without setting a principal, it will not work without even logging errors. The reservation will be created and ignored by Mesos. On the Marathon side, the reservation will be timed out and a new reservation will be attempted.

/cc @aquamatthias

[2016-04-19 15:09] papog commented on #3798
I bounced everything, checked Mesos at port 5051 and it looks healthy.
Marathon is still refusing to serve the web page (which is not convenient, it would be nicer to have a page with the latest info on the election that is failing).
I added a log as a gist:
 [https://gist.github.com/papog/b6307408e10ea6dfb78f39658abfc0b1.js]

[2016-04-19 15:26] vixns opened #3809 "[UI] escaped chars rewrite"
When using the config editor and pasting labels values containing newlines (typical use: marathon-lb templates),

[code]

should become `test\n test\n test` in the JSON, but is `test\\n test  test`

(the \ is escaped and the newline is converted to space on paste ).

Workaround : always use the JSON editor when having escaped chars.

[2016-04-19 16:31] gkleiman commented on #2432
@duffqiu ip-per-task doesn't work in Marathon v0.15.3. It does work in v0.14.x and 1.x.

[2016-04-19 18:23] willgorman commented on #3798
I’ve also seen something very similar to this just recently.  We have a Mesos cluster with 3 masters running Chronos and Marathon.  (Mesos 0.28.0, Marathon 0.15.3) There was a network outage lasting about an hour and afterward Mesos and Chronos had recovered but Marathon wasn’t showing up as a framework in Mesos any longer.  Trying to load the Marathon UI on any of the nodes resulted in that same

[2016-04-19 19:05] papog commented on #3798
I see the expected number of members on my machine (using zkCli.sh, I wonder what tool you got the screenshot from):
[zk: localhost:2181(CONNECTED) 2] ls /marathon/leader
[member_0000000064, member_0000000065, member_0000000066, member_0000000067]

I grepped in the logs and I find all 4 member items in the expected logs (i.e. each on one of the 4 machines).

[2016-04-19 19:56] leemunroe commented on #3804
@sttts solution sounds good. Something like "First configure your Docker container" and link to the section.

[2016-04-19 21:06] willgorman commented on #3798
The screenshot is from [netflix/exhibitor](https://github.com/Netflix/exhibitor), which we're using to manage our Zookeeper.

[2016-04-20 02:08] shijinkui commented on #3747
@meichstedt thanks.
i prefer to use `http` service for jar download.

[2016-04-20 07:57] valentinomiazzo opened #3810 "COMMAND health check on Docker seems to have problems with subshells"
Mesos: 0.27.1
Marathon: 0.14.0
Docker: 1.7.1

I created a docker app based on bobrik/collectd-mesos and wanted to add and health check.
I though something like `[ $(netstat -ntp | grep collectd | wc -l) -eq 1 ]` could work.
In fact I tested it by attaching to the docker container with `docker exec -it <hash> sh` and it worked.

But... when I put the command in Marathon it didn't.
I tried to pin th

[2016-04-20 09:41] gkleiman commented on #3810
@valentinomiazzo Marathon delegates the command health checks to Mesos, so you might be able to find more useful help in their Jira: https://issues.apache.org/jira/browse/mesos

[2016-04-20 11:27] gkleiman commented on #3798
This sounds like #2751

[2016-04-20 11:41] kolloch opened #3811 "Indeterminate progress bars during deployment make debugging difficult"
So alright, some tasks are stuck in staging. I see which groups are effected.

![screen shot 2016-04-20 at 13 38 31](https://cloud.githubusercontent.com/assets/339354/14673257/38ff2ea8-06fd-11e6-8fc5-328eb2180e29.png)

Now I entered the group. But I don't see the task states in the progress bar anymore:

![screen shot 2016-04-20 at 13 35 22](https://cloud.githubusercontent.com/assets/339354/146732

[2016-04-20 12:55] #3806 closed

[2016-04-20 12:56] papog commented on #3798
Actually, this made me look back at the exception I had overlooked and it looks like some configuration issue related to Mesos (I am betting on the shared library).
I expect @gkleiman's fix for #2751 would have been helpful as the unusable marathon instances would simply have stopped.

[2016-04-20 12:59] gkleiman commented on #3798
Closing this, as it apparently was a configuration issue. Please re-open if you think there's something else we can do to help you.

[2016-04-20 12:59] #3798 closed

[2016-04-20 13:04] tmmi commented on #3261
Maybe https://github.com/mesosphere/marathon/pull/3805 ?

[2016-04-20 13:35] leemunroe commented on #3811
Is it the color that is confusing? i.e. we're using stripes to indicate staged in one view, and yellow in another

Would you expect something more like this (quickly mocked up)?
![image](https://cloud.githubusercontent.com/assets/15963/14676309/c2b2e9b4-06c1-11e6-8d1d-95476678ac06.png)

[2016-04-20 16:30] tadanki opened #3813 "Publish TASK_KILLING as a MesosStatusUpdateEvent to allow http callback listeners to handle graceful shutdown."
Brief Background:
We are currently footing a sizable amount of traffic in our services (docker containers run via Marathon on Mesos). To alleviate issues already reported around dropping traffic due to docker containers being killed before the marathon-lb gets a chance to update the HAProxy config, we are trying to enable and propagate the TASK_KILLING state in Marathon.  We intend to modify marat

[2016-04-20 16:41] four2five commented on #3781
@aquamatthias that link 404s

[2016-04-20 20:17] papog commented on #3798
It works now. I was using a mesos library that had been compiled without Java support and was not aware of that.
This was causing a failure when the marathon instance was becoming leader (which is a bit late for a configuration issue) and marathon kept running in spite of this fatal error.
#2751 would most likely have made it really clear that the exception was fatal and thus I believe the issue i

[2016-04-20 20:44] ashishsoni opened #3814 "Dependencies Not working"
I am trying below JSON where one of the dependencies doesn't exist but marathon still start all the three application , Is this a bug

for the service-a i added a dependencies which is not declared so it should fail the deployment or wait but it ends up starting all 3 application

[code]

[2016-04-20 23:39] cookandy opened #3815 "Logic for using quotes around variables"
Hello,

I have a marathon deployment script which sets some `ENV` vars, as shown below:

[code]

You can see that each of the variables uses quotes around the value (to satisfy the json requirement).

However, when the container starts, I notice that the `NEW_RELIC_APP_NAME` and `NEW_RELIC_HOST_DISPLAY_NAME` variables have single `'` marks around them, which causes the `$HOST` variable to not expa

[2016-04-21 04:24] vivekjuneja commented on #3729
@bakstad  - I was trying to do the same thing. I deployed the marathon-lb with the following JSON -

[code]

However, the health checks fails, as Marathon is unable to use the Port 9090. It instead defaults to "portIndex" and uses Port Index 0.

How did you solve this ?

Thanks!

[2016-04-21 05:30] bakstad commented on #3729
@vivekjuneja According to the marathon-lb docs you have to specify the environment variable PORTS which specifies the ports haproxy will bind to. In my config below you will see 9090 and a long list of 10000-10200 ports which are used to load balance services running on marathon.

Here is my configuration:
[code]

[2016-04-21 06:15] junneyang opened #3816 "could marathon UI support update app group?"
like this :
![6897e0be-07cb-11e6-85b2-56d4c3dbf04f](https://cloud.githubusercontent.com/assets/6802322/14699593/a1cfd08a-07cb-11e6-85a8-09e1e9566858.png)

add edit/update interface
thanks！

[2016-04-21 07:27] shijinkui commented on #3747
@pierlo-upitup @meichstedt it alway wait. how can marathon be debug local

![aa](https://cloud.githubusercontent.com/assets/648508/14701006/7065f312-07d5-11e6-86e5-14cf25b15258.jpg)

[2016-04-21 07:51] vivekjuneja commented on #3729
Thanks @bakstad !

I do still have the same issue, even with PORTS environment variable definition. Marathon uses the ports assigned to the each Task instance, instead of the Port 9090. Here are the screen shots to help make my point -

![image](https://cloud.githubusercontent.com/assets/122003/14701525/d05b9c44-07e0-11e6-9edc-ceb79f6ada9e.png)

Here is the screen shot of my Configuration in Marat

[2016-04-21 08:44] vivekjuneja commented on #3729
@bakstad - I was able to fix this issue, however I am not sure if this is a right way to run "marathon-lb" on Mesos.

Here is the JSON file I use now -
[code]

I had to use the "requirePorts" to force Marathon to use the provided Port instead of using the Mesos allocated port. I also had to change my Mesos slaves to use 9090 in the allocation by adding it in /etc/mesos-slave/resources file.

Altho

[2016-04-21 08:54] bakstad commented on #3729
You sort of have to ignore the ports that show up in the GUI. The marathon-lb container is running in HOST mode, meaning that it shares the network with the host OS. So as long as haproxy can bind to 9090 you should reach haproxy at http://{node_ip}:9090/haproxy?stats

I don't really understand why you needed to update your mesos slave configuration though.

[2016-04-21 09:01] vivekjuneja commented on #3729
@bakstad - Thanks! I am aware of the HOST mode.

As I mentioned earlier, Marathon was not using the Host port 9090, instead was using the Mesos defined Ports. In the screenshot I attached earlier, you can see the ports 31145 and 31163 being used _(notice the red arrows)_. These ports are being allocated by Mesos Slave.

Let me know if you still have issues understand this behavior.

[2016-04-21 10:03] pierlo-upitup commented on #3816
Hi @junneyang

modifying a group id will trigger a re-deployment for each of the app within that group.  For that reason, we decided to not surface this action in the UI at the moment.

We might re-assess this decision at some point.
Thanks for your feedback!

[2016-04-21 10:09] pierlo-upitup commented on #3815
Hi @cookandy

environment variables are simple key-value string pairs at the moment.

There is already an issue to keep track of this feature request here https://github.com/mesosphere/marathon/issues/1828 and here https://github.com/mesosphere/marathon/issues/2679.

Thanks for your feedback!

[2016-04-21 10:09] #3815 closed

[2016-04-21 10:11] junneyang commented on #3816
@pierlo-upitup
tnanks
i think we should popup warnings for that,
but we should not refuse to provide such valuable feature.

[2016-04-21 10:11] pierlo-upitup commented on #3814
cc @gkleiman

[2016-04-21 10:13] pierlo-upitup commented on #3814
Hi @ashishsoni can you provide which versions of Marathon and Mesos you're running this on?

[2016-04-21 10:36] bakstad commented on #3729
Hm, I don't know if this helps, but have you tried upgrading to the newest version for marathon-lb (1.2.0)?

[2016-04-21 11:15] kolloch commented on #3811
I am not quite sure that I get your point.

Yes, it is strange to use different colors in different views. And, as you can see in the screenshot, at the app list level there was no visual distinction between staged tasks and "unknown health" tasks in the bar at all.

[2016-04-21 11:16] kolloch commented on #3811
(and the yellow color looks much more distinct than gray stripes vs opaquely gray. That might be different for color blind people though, so you might want to distinguish by color and by pattern.)

[2016-04-21 12:40] meichstedt commented on #3813
`TASK_KILLING` is currently suppressed in `TaskStatusUpdateProcessorImpl.publish()`. It's not abig deal to process it and publish a MesosStatusUpdateEvent; we just need to drop the suppression handle and write a test to verify the status gets published

@aquamatthias this could easily done somewhere in between, feel free to assign :)

[2016-04-21 13:26] #3045 closed

[2016-04-21 13:30] meichstedt commented on #3045
Resolved via [#afbcd654](https://github.com/mesosphere/marathon/commit/afbcd654e069e1a4e78127632e1825ab994d5638)

[2016-04-21 13:31] pierlo-upitup commented on #3816
cc @leemunroe

[2016-04-21 13:32] meichstedt commented on #3813
@tadanki on it, won't take long

[2016-04-21 13:38] pierlo-upitup commented on #3809
Hmm if you're talking about labels, thats due to the HTML input field being of type `text`– which does not allow for newlines. In this case we might have to change to a textarea.

[2016-04-21 13:53] ashishsoni commented on #3814
Hi ,
I am using marathon:v1.1.1 and mesos 0.27.1-2.0.226
Ashish

[2016-04-21 14:07] #3793 closed

[2016-04-21 16:03] #3694 closed

[2016-04-21 16:09] tadanki commented on #3813
Cool! Thats great turn around you guys!

I actually managed to fix it on our end yesterday by modifying - /src/main/scala/mesosphere/marathon/core/task/update/impl/TaskStatusUpdateProcessorImpl.scala
/src/main/scala/mesosphere/marathon/core/task/Task.scala

We added a Terminating( _ ) check and let the TaskStateOpProcessor forward the message and put it on the Event Bus. this doesnt show on the HT

[2016-04-21 17:54] EvanKrall commented on #1553
@liquid-sky I'm pretty sure this issue and 3783 are different - 3783 isn't only happening when marathon leadership fails over, and the logs show very different things happening.

[2016-04-21 18:54] JonnyBGod commented on #3789
I am getting this behavior with marathon 1.1.1.
For some reason this happens from time to time.

ENV:
Vagrant on OSX macbook pro 16gb ram
Small dcos cluster
Marathon 1.1.1
vanilla marathon-lb

[2016-04-21 22:31] tysonnorris commented on #940
I'm seeing this as well

[2016-04-21 22:55] vixns commented on #3809
Yes, it's about labels, double escaping `\n` or `\t`should be avoided.

what about a parsed/raw format toggle option on each value field, that switch between `text` and `textarea` ?

[2016-04-22 00:08] dmilind opened #3818 "How to pass parameter to main.yml from marathon container?"
I have marathon container on ubuntu 14.04. and I have ansible-marathon role in configuration file. In main.yml file of ansible-marathon role I need some parameters for
 command: and volume: modules.  So my question is how we can pass them to the container.? For the broader view.

this is yml file what values should come in the highlighted place.

- name: pull latest version of marathon container

[2016-04-22 06:13] xiaods commented on #1553
hi,  you need consider sync zookeeper and mesos's timezone, it's very important reason for the failover feature.

[2016-04-22 06:23] xiaods commented on #3726
@junneyang  marathon is not the scope on this feature, need u do that. alternative, we need expect compose support marathon

[2016-04-22 06:25] junneyang opened #3819 "does marathon support using environment variables for service discovery?"
mesos-dns just for the app's host discovery,
how about the app's hostPort?

thanks!

[2016-04-22 08:33] meichstedt commented on #3261
@flosell I'd vote for a different timeout because I'd actually expect the consumerTimeout to be lower than the requestTimeout (which is currently not configurable), otherwise the logic makes not much sense.

[2016-04-22 12:13] emicklei opened #3820 "version 1.1.1 returns different JSON response on /v2/deployments"
api docs https://mesosphere.github.io/marathon/docs/rest-api.html#get-v2-deployments

I found at least a difference in the format of the `steps` field

Example conflicting output
[code]

[2016-04-22 12:21] guidob commented on #3820
This is causing an issue with terraform-provider-marathon: https://github.com/Banno/terraform-provider-marathon/issues/25

[2016-04-22 14:40] gkleiman commented on #3820
Example output in v0.15.x:

[code]

Example output in v1.1.1:

[code]

[2016-04-22 17:47] leemunroe commented on #3816
Thanks @junneyang - can you confirm what it is you wanted to edit/update in your use case? Wondering if it was the ID or if there is more to it.

[2016-04-24 07:00] kopax commented on #2547
I need to block the port range `[31000-32000]` on my public interface `eth2`.

Services can be accessed using private network interface `eth3`

I have tried :

    root@master-sbg-01:~/# iptables -A INPUT -i eth2 -p udp -m multiport --dports 31000:32000 -j DROP
    root@master-sbg-01:~/# iptables -A INPUT -i eth2 -p tcp -m multiport --dports 31000:32000 -j DROP
    root@master-sbg-01:~/# iptables

[2016-04-24 15:56] duffqiu commented on #2432
thanks,

But if i use marathon 1.1.0, Do I need to do some special things for mesos?

[2016-04-24 20:13] sayden opened #3825 ""Running in Development Mode" doesn't work as it tries to elect a leader"
As pointed out int README.md, to run in Development mode you just need to run the following command (once you have Apache Mesos Master and Slaves running and a Zookeeper):

`./bin/start --master local --zk zk://localhost:2181/marathon`

It shows this `INFO All services up and running. (mesosphere.marathon.Main$:main)` but when you open `localhost:8080` it shows a 503 with the message "Could not de

[2016-04-24 20:19] sayden commented on #3825
Sorry, my fault.

As it points in the output, it failed to load native Mesos library as `MESOS_NATIVE_JAVA_LIBRARY` was not properly set. Once I set it correctly the UI appeard correctly on `localhost:8080`

Can suggest a better output for the error in the UI?

[2016-04-24 20:19] #3825 closed

[2016-04-24 22:43] markrey commented on #128
+1

[2016-04-25 02:08] jaminlai commented on #2432
+1

[2016-04-25 02:39] junneyang opened #3826 "Use a real database instead of ZooKeeper as persistent storage"
thanks

[2016-04-25 07:39] tmmi commented on #3261
Ok, requestTimeout included in the new PR https://github.com/mesosphere/marathon/pull/3827

[2016-04-25 08:52] Krassi10 commented on #1242
+1

[2016-04-25 09:15] #3660 closed

[2016-04-25 09:41] gkleiman commented on #2432
@duffqiu yes, you will need to install a network isolation module, such as the one developed by Calico: https://github.com/projectcalico/calico-mesos

[2016-04-25 09:43] gkleiman commented on #128
@mlowicki Marathon now supports plugins for authorization and authentication. You can write one that provdes LDAP integration.

Enterprise DC/OS comes with LDAP integration out of the box.

[2016-04-25 11:26] Nihn opened #3830 "Resources limits are not passed to Docker"
Hi,

I have app with 1 cpu and 128MB limits however when I log into Docker container I see that whole host memory is available:
[code]
Same applies to CPU.

Marathon 1.1.0
Mesos 0.28.0
Docker 1.11.0

[2016-04-25 13:47] janisz commented on #3515
It's related to #3220 `MAX_PER` could be used to spread tasks evenly on a cluster

[2016-04-25 16:02] #3820 closed

[2016-04-25 18:14] tysonnorris commented on #712
BTW, recently learning about the "readinessChecks" introduced to marathon, it may also be useful to consider the shutdown side as the inverse of readinessChecks, like "terminationChecks". Of course non-http apps + third party apps will not be able to leverage that, but making these features related would be a useful way to go.

e.g. if I implement terminationChecks in my app, I could use that as a

[2016-04-25 21:31] worstadmin commented on #1090
+1

[2016-04-25 21:33] worstadmin commented on #1090
Would be nice if this also distinguished between a lack of resources and a constraint

[2016-04-25 21:49] mdulla commented on #2874
I have the same issue on RHEL7 system. Basically at random times the container is getting killed and an message is getting thrown out in the log as  "...slave.cpp:1890] Asked to kill task....". Does anybody know if there is a possible solution discussed somewhere?
Below is my current setup:
Marathon: 0.15.0
Mesos: 0.27.0
Docker: 1.7.1

[2016-04-26 00:12] harpreet-sawhney commented on #1242
+1

[2016-04-26 05:51] junneyang commented on #2828
+1

[2016-04-26 13:17] Nihn commented on #3830
After upgrading Kernel to 4.5.0 memory is reserved correctly but all CPU related options are still defaults.

[2016-04-26 13:40] Nihn commented on #3830
Seems that cpu=1 is docker cpushares 1024, cpu=2 2028 etc

[2016-04-26 13:40] #3830 closed

[2016-04-26 13:59] Salaander commented on #2414
+1

[2016-04-26 17:45] pierlo-upitup commented on #3296
This was intro'd in 1.0

[2016-04-26 17:45] #3296 closed

[2016-04-26 18:13] jrrickard commented on #2679
+1

[2016-04-26 20:00] brndnmtthws commented on #3734
This is certainly not a bug in marathon-lb. If you manually edit the JSON or POST it to Marathon, everything works great. The UI widget will eat any newlines you paste into the label value fields.

[2016-04-26 20:01] brndnmtthws commented on #3734
Actually, maybe this belongs in the marathon-ui project? Please advise.

[2016-04-26 20:03] eLvErDe commented on #3734
Thanks for reopening !

[2016-04-27 07:09] shijinkui commented on #3826
dependency on rdb is not good idea.  no-sql and file are easy. column type is not force to provide.

[2016-04-27 07:13] #3291 closed

[2016-04-27 07:14] shijinkui opened #3838 "use sbt-native-package?"
using `bin/start` script to find the main function and then start application.
Why not use [sbt-native-package](http://www.scala-sbt.org/sbt-native-packager/index.html) to pacakge, and let the os to manage marathon application on runtime.

universal format mey be more clear to the project code.

thanks

[2016-04-27 12:09] samwiise commented on #1242
+1

[2016-04-27 13:43] liquid-sky commented on #1553
@xiaods, Mesos+Marathon+Exhibitor managed Zookeeper are running on the same host. All three machines are NTP synchronised.

[2016-04-27 14:51] janisz commented on #1306
Is it still valid? Fixed by #2130

[2016-04-27 16:06] air commented on #1090
Good news everyone! We have a UI design for this (including offers and constraints) and we're in the process of getting the work scheduled. No hard delivery date but it's in the pipe.

[2016-04-27 19:09] a93ushakov opened #3839 "How marathon scale apps?"
If task has incorrect setted  resource limits - does marathon automaticaly increase resource limits or launches new instances?

[2016-04-27 20:35] rrichardson commented on #1822
What might also be nice to have in the documentation is how to achieve the update behavior when the app.json hasn't changed.   I am attempting to implement continuous deployment with drone, so I have generated a new docker image with the latest code, but when I PUT.. force=true,  Marathon opts to do nothing with a deployment plan of NO STEPS.  What is the way to achieve my intended behavior?

[2016-04-27 21:30] Raffo commented on #1090
Cool! Do you mind sharing something?

[2016-04-28 02:28] shijinkui commented on #3747
when i restart the mesos master, marathon's deployment can go on. it's very strange.
close this issue.

[2016-04-28 02:28] #3747 closed

[2016-04-28 04:26] duffqiu commented on #2432
It seems marathon still can't get the container's port if using this ip per container solution?

If that is true, it is not possible to use Bamboo -:(

[2016-04-28 10:03] aquamatthias commented on #3448
Seems a AWS ECR problem. Close this issue.

[2016-04-28 10:06] aquamatthias commented on #3818
Several ways to do this:
- use the file /etc/default/marathon/marathon.defaults
- use environment variables
- change the script that starts marathon.

For details see here: https://mesosphere.github.io/marathon/docs/command-line-flags.html

[2016-04-28 10:06] #3818 closed

[2016-04-28 10:11] aquamatthias commented on #3838
Hey @shijinkui the start script allows this:
- it translates env vars into command line flags
- it reads from /etc/default/marathon/marathon.defaults on linux systems
- this functionality is available on the system and also inside Docker containers

Do you think the native packager can do this as well?
What are the advantages?

[2016-04-28 10:15] aquamatthias commented on #3826
@junneyang I changed the title to explain the enhancement.
To answer your original question: we have plans to support other data stores.
ZooKeeper is at the moment a minimal requirement.

[2016-04-28 10:20] aquamatthias commented on #3819
No support for service discovery via env variables.

mesos-dns can give you the information about the port as well.
But keep in mind, this would be a DNS SRV record instead of an A record.

See https://mesosphere.github.io/marathon/docs/service-discovery-load-balancing.html

[2016-04-28 10:20] #3819 closed

[2016-04-28 10:23] aquamatthias commented on #3814
The way dependencies work in Marathon:
- all applications that are available under the defined path are dependencies of this app
- A DAG is build from the dependencies, that are resolved during deployment time
- if you don't have any app under this path, then the list of dependent apps is empty.

See details here: https://mesosphere.github.io/marathon/docs/application-groups.html

[2016-04-28 10:23] #3814 closed

[2016-04-28 13:17] vishnu2kmohan commented on #3791
@rupamroy Are you using DC/OS from dcos.io ?

Where is python installed on your agents? When you a {{which python}} does it show {{/opt/mesosphere/bin/python}}? If so, please try specifying the full path to the python interpreter and change {{SimpleHTTPServer}} to {{http.server}} since we install and use python3 by default.

[2016-04-28 15:02] jdef opened #3842 "insecure cert validation with leader proxying should log periodic warnings"
xref https://github.com/mesosphere/marathon/pull/3841/files#diff-5f4ecbf98be7219efe38ecb372761d42R191

for example, we could maintain a set of the last N hosts that we proxied to (insecurely). if we're asked to validate a host that's not in the set (a) add it to the set, and; (b) log a warning.

[2016-04-28 15:57] adyatlov opened #3843 "Inconsistency of interpretation of "residency" property in Marathon JSON descriptor"
1) Deploy an app with the persistent volume **without**  specifying "residency" and **without** specifying "upgradeStrategy" properties ==> FAIL.
2) Deploy an app with the persistent volume **without**  specifying "residency" but **with** "upgradeStrategy" properties ==> SUCCESS.
3) Deploy an app with the persistent volume **with** specifying "residency" and **with** "upgradeStrategy" properties =

[2016-04-28 20:20] magcius opened #3845 "Visualize current load / capacity"
We've often hit issues with Marathon because we don't have enough capacity in our cluster to be able to handle the provisioning we give it. It would be nice if there was a visual way of identifying the current load and capacity of the cluster, to know how much room left we have to scale. Otherwise, we're just blindly tweaking the numbers until they feel right.

[2016-04-28 23:38] neeleshkorade commented on #3136
We are seeing this error when we plugin Authentication and when there is high volume of concurrent requests. Based on my investigation so far, the issue appears to be with this line-

 [private final ExecutionContext EC = ExecutionContexts.fromExecutorService(Executors.newSingleThreadExecutor());](https://github.com/mesosphere/marathon-example-plugins/blob/master/javaauth/src/main/java/mesosphere/

[2016-04-29 01:50] leogamas commented on #2424
+1 for this feature!

[2016-04-29 02:53] travisgroth commented on #2414
Any traction on this?  Would be a much appreciated feature

[2016-04-29 10:23] meichstedt commented on #3845
@magcius have you considered using [DC/OS](https://dcos.io/)? The current UI offers at least some more infos about available nodes and their usage. Features addressing your request will likely be introduced into the DC/OS UI, but most probably not into the MarathonUI as is is now.

Some backgrounds: Marathon might be one out of multiple framework that run in a cluster. One can argue about whether

[2016-04-29 10:38] #3843 closed

[2016-04-29 10:56] meichstedt commented on #3843
Thanks for finding and reporting this, @jrx and @adyatlov!

[2016-04-29 16:31] magcius commented on #3845
Admittedly, I've been confused as to how Mesosphere views Marathon vs. other frameworks. Mesosphere seems to have a significant weight towards Marathon because a lot of products, like the entire [service discovery system](https://github.com/mesosphere/marathon-lb) are built on the Marathon APIs, and don't interact with other frameworks. So we have been reluctant to use other frameworks because the

[2016-04-29 16:46] magcius commented on #3845
Perhaps another way of getting around the same thing would be a tooltip on the waiting state to say "Requested allocation requires 0.5 CPU / 1GB Mem, only have 0.1 CPU / 512MB Mem available" or similar when the offer is declined. Not as great, since it requires me to do more math than a visualization would allow, but it would at least me start figuring out what resource is at fault, and start adju

[2016-04-29 17:12] krestjaninoff commented on #1242
+1
![](http://i.dailymail.co.uk/i/pix/2014/06/13/article-2657035-1EB9365300000578-176_634x505.jpg)

[2016-04-29 17:23] air commented on #1242
Good news everyone! This is officially on the radar and we'll look at prioritizing it. Thank you for all the excellent use case examples. Internal tracker https://mesosphere.atlassian.net/browse/MARATHON-983

[2016-04-29 19:42] jgarcia-mesosphere opened #3848 "Size check for deployments"
When a group deployment is initiated, the size of the znode created is `old group + deployment metadata + updated group`. This can become too large to transact with ZooKeeper if it exceeds approximately 500kb (the jute.maxbuffer defaults to 1mb). Can we put a line in the log in this case that can advise the user to adjust their app and group definition sizes?

[2016-04-29 21:46] djosborne commented on #3636
@jdef We're not really talking about host or container ports here.  Let me rephrase the issue with some context:

Currently, all Marathon applications that register with marathon-lb are assigned a service port. Despite the fact that servicePorts are a marathon-lb specific component, Marathon is the one that allocates and keeps track of them.

When launching a ip-per-container application, it is cu

[2016-05-01 16:28] denisbetsi commented on #3839
No

[2016-05-01 17:03] mcclurmc commented on #2101
Just adding my :+1: to this issue. My team and I worked with @jgarcia-mesosphere over the last two weeks to narrow down a problem we were seeing in our dev cluster to this bug. The issue is that Marathon stores group defs in ZK, and the root group seems to store all the data for all child groups. When we got to a point where our `/marathon/group:root` znode went over about 500kb, Marathon wouldn't

[2016-05-02 03:11] invenfantasy opened #3851 "marathon can not consume dynamic reserved resources"
currently, Marathon can not use dynamic reserved resources:

1. https://github.com/mesosphere/marathon/blob/master/src%2Fmain%2Fscala%2Fmesosphere%2Fmesos%2FTaskBuilder.scala#L83

will we support this in the near future?

also, what is the `reserved` param means here, want to filter out `reserved resources`? if that's case, we may missuse `ReservationInfo`:

1. https://github.com/apache/mesos/blob

[2016-05-02 04:27] invenfantasy commented on #3851
@aquamatthias https://www.mail-archive.com/user@mesos.apache.org/msg06942.html

[2016-05-02 09:18] aquamatthias commented on #2101
@mcclurmc thanks for the info. We are very aware of this limitation.

We introduced a command line parameter `--max_apps`, so you get an error, if you try to create more apps than that number. This configuration is mostly bandaid to fail fast and does not take the zk node size into account (depending on how much data you store on the app level).

Step 1) we will refactor how the group is stored (o

[2016-05-02 09:23] aquamatthias commented on #3848
@jgarcia-mesosphere we don't know the zk configuration so we can not fail here. But to print a log warning is very good idea.

[2016-05-02 09:24] gkleiman commented on #3848
@aquamatthias we know the default limit and that it is highly discouraged to increase it.

I think we should add a validation and reject changes that would lead to the root group exceeding 400kb. A log message is not enough to prevent users from exceeding the limit and getting a broken Marathon.

[2016-05-02 09:27] aquamatthias commented on #3839
@a93ushakov Marathon is a scheduler. Mesos is running the tasks. Depending on the isolators configured in Mesos, a task is killed if too many resources are used (e.g. memory-> OOM). If a task is killed, Marathon will restart that task, but will not adjust resource limits.

[2016-05-02 09:27] #3839 closed

[2016-05-02 09:43] #3810 closed

[2016-05-02 10:29] meichstedt commented on #3851
@invenfantasy Just to clarify: Marathon can use dynamically reserved resources. However, the ability to do so was built in with using Persistent Volumes in mind. The above mentioned line of code is only reached when **not** using persistent volumes. In this case, the ResourceSelector will only consider resources which are not dynamically reserved ("unreserved", which is technically not correct).

[2016-05-02 10:46] invenfantasy commented on #3851
@meichstedt thank you for clarification. You are right, i'm trying to launch tasks using dynamic reserved resource. I think this should be really useful feature when we want to implement multi-tenants. I'm using DC/OS, so this also means, when we using dc/os to launch a new marathon instance, we can only use unreserved / static reserved resources.

[2016-05-02 13:57] jdef commented on #1242
has anyone tried using https://github.com/spacejam/zk-glove to coordinate/track the number of instances? it's probably fairly trivial to hack up zk-glove to provide an INSTANCE_ID environment variable

[2016-05-02 14:07] vixns commented on #3406
May be related to https.

I run marathon on https only on a public IP, and mesos on http / private IP, only available thru a VPN.
Loading the logs raise mixed contents error, forcing them in the browser does not work either, after getting data from the mesos master, it try to access mesos slaves with https.

Proxiyng mesos logs thru marathon should fix many use cases like this one.

Also have this

[2016-05-02 17:29] neeleshkorade opened #3853 "Marathon metrics for max rps for an API"
Hi,
I am looking for max rps for our marathon instance (across all APIs). I am referring to /metrics API for the same. Based on my understanding so far, the metric to look for is **max** under **org.eclipse.jetty.servlet.ServletContextHandler.dispatches**. However, the number I see here doesn't look correct. I ran some tests and could see that the **count** metric reflects the number of requests t

[2016-05-02 18:00] jgarcia-mesosphere commented on #2101
To check for this, pull Marathon statistics from `http://<marathon>/metrics` and check for the `"service.mesosphere.marathon.state.MarathonStore.DeploymentPlan.write-data-size"` key to see the largest deploy your Marathon has tried to write.

[2016-05-03 02:02] Spritekin opened #3854 "Marathon not accepting implicit roles"
I'm running on mesos 0.28, Marathon 1.1.1.

My slaves define a "prometheus" resource role.
My mesos-master does not define the "prometheus" resource role because on mesos 0.28 it is not required. In fact the flag is deprecated.

If marathon does not define the mesos-role, then it won't get "prometheus" resources from mesos.
If marathon defines the "prometheus" mesos-role then it throws
WARN Error:

[2016-05-03 02:10] #3854 closed

[2016-05-03 04:59] jeacott1 commented on #2424
+1 please!  would be nice to be able to set min and/or max resource requirements too.

[2016-05-03 08:57] #3848 closed

[2016-05-03 13:23] meichstedt commented on #3261
Resolved in #3827

[2016-05-03 13:23] #3261 closed

[2016-05-03 17:23] jordmoz commented on #3386
We ran into a similar issue with a GROUPBY constraint.  Removing it from the UI fails.  To work around it we just set the constraint to ```hostname:LIKE:.*``` so that it doesn't really constrain the tasks, but marathon is happy that it has a constraint.

[2016-05-03 18:10] kellyaa opened #3857 "GROUP_BY constraint - specifying number of values causes deployment to stall"
Deployed a new application with 5 instances.  Specified the following constraint:

 "constraints": [["rack", "GROUP_BY", 5]]

Where there are exactly 5 different values of the "rack" attribute amongst all of the mesos agents.

I would have expected that each of the 5 instances would be deployed on 5 different mesos agents that each have a unique "rack" value.  The result seen is that only one inst

[2016-05-04 07:08] ryanolson commented on #344
+1

[2016-05-04 11:16] ludovicc opened #3862 "Reconcile port definitions and Docker ports"
Hello,

I am launching a database inside a Docker container with Marathon. I defined a mapping to expose a port on the Docker container to an explicit port on the host. I want also to label this port with some additional information so I defined a portDefinition for this port. It looks like Marathon is ignoring this port definition.

App definition sent:

[code]

Actual app definition fetched from

[2016-05-04 14:31] rupamroy commented on #789
Any suggestion on how we can use `--volumes-from ` , is this feature available ? If so which marathon version and any documentation on this ?

[2016-05-04 14:35] rupamroy opened #3863 "Is `--volumes-from` supported in marathon"
Hi

Is `--volumes-from` supported in marathon , I want to mount a volume in the app container from another container ? This means that second container should be present in all the hosts which has the first container marathon should consider these two container as a group. Is that possible to do this ? If what version of marathon supports this and where is the documentation on that ?

[2016-05-04 14:46] tylermarshall commented on #3742
Hey @pierlo-upitup , I have also run into this problem and am able to reproduce it. The relevant piece from my app definition is the container section. I am able to deploy my app successful with the below settings:
[code]
Now the interesting part is when I change the port mappings array to the following:
[code]
It doesn't matter if my application comes up healthy or not. The steps above will trigg

[2016-05-05 13:39] seelam commented on #3795
any update on this?

[2016-05-05 17:54] bchav commented on #3448
Hi! We'd love to help fix this issue. Feel free to reach out to me directly.

[2016-05-05 18:21] thefotios commented on #3448
I'm having the same issue. Maybe it's a combination of ECR configs and my app definition, but can't seem to get this working.

Anybody have any luck?

[2016-05-05 18:38] weitzj commented on #3448
My Workaround is right now to have a cronjob on every nide, which does an aws ecr get-login

[2016-05-05 21:01] sunshinezeng commented on #2697
Hi, I'm wondering whether you have similar test conducted for 0.15 release?

[2016-05-06 00:32] Spritekin opened #3866 "Are we leader?"
Hi,

I'm running Marathon 1.1.1 on Mesos 0.28.0. I have 3 master nodes.

Today I got this message in one node:

[code]

Looks like the marathon leadership can't be reliably stablished. The other two marathon services were pointing to this server as the marathon leader, however this leader was unable to define its leadership.

I just restarted the 3 marathon services and all was ok, they agreed on

[2016-05-06 00:37] Spritekin commented on #3866
FYI, before I started the nodes, looks like mesos got tired of waiting and kicked marathon out of the framework list. However the registered IP for the marathon framework before being kicked out was not the one above but one of the other leaders (which was the marathon leader previously but no longer).

After the restart, when the new node got leadership it was correctly registered.

Not sure if t

[2016-05-06 01:12] anhcuong commented on #3448
I recommend  to move away from aws ecr because it seems not stable yet and I have encountered some funny issues with it (my last try was 2 months ago).
Instead, we host docker registry ourself using marathon on mesos. It is working very well now.

[2016-05-06 05:42] jeacott commented on #1475
+1 usecase - run multiple different application clusters across mesos managed resources. in this way its much more flexible than just the current 'cluster' and 'rack' solutions.

a simple group attribute for a given application would work well.

[2016-05-06 06:41] IvanTing opened #3867 "Multiple instances of a Task with persistent volume do not dispatch to different nodes when unique hostname constraint is set"
I'm running Marathon 1.1.1 on Mesos 0.28.1.

I have a cluster deployed initially with 3 nodes. Originally, i have a marathon app which has set instance to 3 and "constraints" : [["hostname", "UNIQUE"]].
It works as expected that 3 tasks running on 3 different nodes in the cluster.

After that, i want to set the marathon app as persistent task such that when my cluster scale  to more than 3 nodes (

[2016-05-06 09:14] arodd opened #3868 "Disable Leader Proxying"
I am using a service discovery/health check mechanism that detects if the local node is the leader and then updates service discovery records with the current leader.  The external records match the SSL certificate and work fine coming in externally, however if I health check on the SSL interface it tries to proxy via SSL to the other nodes even for a leader lookup query.  The certificate doesn't

[2016-05-06 10:19] anhcuong opened #3869 "marathon cannot pull docker image from dockerhub"
Hi guys,

I am trying to run chronos using chronos docker image on dockerhub. The configuration for marathon is simple and I dont think it is a problem.

However, I noticed that I cannot pull the docker image if I run the application from marathon. But from `docker pull` command, of course I can pull.

Below is the docker log I receive when running from marathon:

[code]

The funny thing is that m

[2016-05-06 10:22] anhcuong commented on #3869
I am running mesos: 0.28.1-2.0.20.ubuntu1404 on dockerhub and marathon: v1.1.1 on dockerhub too

[2016-05-06 12:53] srshanmugam commented on #3478
Any updates or suggestions on handling docker container apps restart with Marathon?

[2016-05-06 17:10] jgarcia-mesosphere opened #3870 "Reporter cannot be consumed from an env var"
When using `MARATHON_REPORTER_GRAPHITE...` in the environment file, we could not get the reporter to start sending data. When we changed to a command-line flag, the reporting started working.

[2016-05-08 01:52] gvenka008c commented on #3331
@akamalov @meichstedt

[code]

Here is the Mesos Master setting

[code]

Here is the marathon configuration

[code]
I followed the same steps as outlined in the below link
https://mesosphere.github.io/marathon/docs/framework-authentication.html

[2016-05-08 02:23] gondor opened #3874 "Infinite looping on failed deployment"
I normally won't post an issue until I've spent time reading all the docs and looking through configuration options.  Maybe I've missed a setting but have seen this a couple times now and would like to know how to set it to fail after X attempts.

When our continuous delivery posts a new version of a Docker based applications there is the odd time it fails to startup/health check.  For example in

[2016-05-09 08:44] a93ushakov commented on #3839
Does exist any ready software that allow in automatic way increase resources?

[2016-05-09 10:55] akamalov commented on #3331
@gvenka008c, please make sure that you do not have a newline in your marathon.secret. This was the case with me. Use "echo -n <secret" > <secretfile> and restart your mesos-master(s).

Alex

[2016-05-09 14:07] wenma opened #3875 "Persistent volume with non-root may have some problems"
i use marathon with non-root user and run docker containers on marathon, the docker container also run as  non-root user inside (has the same UID and GID) . but i submit a docker task with  persistent volume, then something wrong like this :
[code]
[code]
and here is mesos master log:
[code]
is any problems here ?

[2016-05-09 17:24] denisbetsi commented on #3839
Yes, I wrote something to scale things up and down based on current load. Currently it increases and decreases # of instances by issuing marathon API request commands. It can easily be modified to increase RAM or CPU on that instance config vs scaling up and down. Though for latency it's easier to scale up instances vs reconfiguring an instance

[2016-05-09 17:25] gvenka008c commented on #3331
@akamalov Yes. That worked. I think we should have a way to update the info in the document as well at https://mesosphere.github.io/marathon/docs/framework-authentication.html

[code]

[2016-05-09 19:58] gkleiman commented on #3331
@gvenka008c please feel free to create a PR with the documentation update. I'll be happy to merge it.

[2016-05-09 22:09] ssk2 opened #3876 "Labels do not wrap nicely in the UI"
We have a long label, it appears to get truncated after 3 lines:
![image](https://cloud.githubusercontent.com/assets/355705/15129657/dce4c966-15f7-11e6-8de8-fd79fb70b87b.png)

The limit appears to be 3 lines:
![image](https://cloud.githubusercontent.com/assets/355705/15129686/0f822e0e-15f8-11e6-92be-7e8f1448610f.png)

[2016-05-10 01:50] junneyang commented on #3816
i suggest all configurations of the group could be updated, like the app's update:
![qq 20160510094753](https://cloud.githubusercontent.com/assets/6802322/15133326/530986ee-1694-11e6-81f8-6ae1272be5be.png)

i also suggest the UI could be simplify for group update.
just let user modify the group's JSON defination is OK.

thanks!

[2016-05-10 02:00] junneyang commented on #3726
@xiaods
why marathon is not the scope on this feature?
multi-app's interactive is a  reasonable  feature, i think.

[2016-05-10 02:08] junneyang opened #3877 "question: if the app exceeds the limit of the cpu/mem, what would marathon do?"
kill the app
or kill the container?
thanks!

[2016-05-10 02:59] junneyang commented on #2828
+1
eg: for mysql container, we want to run sql script and quit.

[2016-05-10 03:03] junneyang commented on #344
+1
database migration
batch configuration(pre,post,etc) for multi apps

[2016-05-10 03:06] junneyang opened #3878 "is there any way to run batch scripts in multi containers?"
like ansible, puppet, etc.
i think this feature is very useful on aspect point, like the AOP concept.

thanks!

[2016-05-10 08:34] #3851 closed

[2016-05-10 08:37] meichstedt commented on #3867
Thanks for reporting this with so much detail, @IvanTing
From what you describe it sounds like a bug to me. We'll look into that.

[2016-05-10 08:48] meichstedt commented on #3867
Quick analysis: The problem lies in `ResourceMatcher.matchResources`. There's this `def meetsAllConstraints` which does not consider reserved tasks for checking constraints:
[code]

[2016-05-10 14:08] tmmi opened #3879 "Broken Mesos details link in debug"

[2016-05-10 14:15] tmmi commented on #3879
duplicate https://github.com/mesosphere/marathon/issues/3447

[2016-05-10 14:15] #3879 closed

[2016-05-10 14:35] jdef opened #3880 "duplicate serviceport usage results in cryptic validation error message"
"Error: Object is not valid".. as reported by a DC/OS user who was trying to deploy a couchbase app that was using a serviceport already in use by another container in the system.

[2016-05-10 15:20] JayH5 opened #3881 "Getting tasks for app with no tasks returns 404 "App does not exist""
If an app has been suspended or has no tasks currently, then requests to `/v2/apps/<app-id>/tasks` returns a 404 response code and the JSON `{"message":"App '<app-id>' does not exist"}`.

The app itself definitely exists and requests to `/v2/apps/<app-id>` succeed.

This seems to be the case for Marathon 0.15.3 and 1.1.1 but I am not sure exactly which versions are affected. Marathon 0.11.1 does n

[2016-05-11 02:59] IvanTing commented on #3867
Hi meichstedt, thanks for looking it.

[2016-05-11 07:53] s13k opened #3883 "Marathon Scaling application issue"
Marathon is able to scale maximum 5 instances on the first node but  when I tried scaling it further the host gets changed to the second slave node.And the task fails to start and error in the debug section of the Marathon UI shows "Abnormal executor termination".

I would like to know why is it not getting scheduled on the other slave node???

[2016-05-11 09:14] tmmi opened #3884 "How to build custom mesosphere.marathon/ui jar ?"
from https://github.com/mesosphere/marathon-ui

[2016-05-11 09:50] gkleiman commented on #3883
@s13k look at the Mesos Agent (Slave) logs to see why the executor failed.

[2016-05-11 09:50] #3883 closed

[2016-05-11 09:53] pierlo-upitup commented on #3884
I'm guessing a simple way is to replace the contents of the UI webjar within the locally built marathon JAR with the contents of the Marathon UI `dist` folder once you've followed the instructions on how to build your UI locally. A webjar is essentially a `.zip` file, so just extract it to reveal its contents. Then pack it all up again and you should be good to go. Let me know if this helps, @tmmi

[2016-05-11 09:55] gkleiman commented on #3877
@junneyang if a task exceeds the resource limits, the Mesos Agent will kill it and Marathon will try to launch a new task.

[2016-05-11 09:55] #3877 closed

[2016-05-11 09:57] gkleiman commented on #3878
I don't understand your question. Do you want to know if you can schedule multiple containers, like in kubernetes pods?

Or if you can start scripts inside of already-running containers?

Please send questions like this to the marathon-framework Google group. We use GitHub Issues to track bug reports/feature requests.

[2016-05-11 09:57] #3878 closed

[2016-05-11 09:59] junneyang commented on #3878
i mean start scripts inside of already-running containers
thanks

[2016-05-11 10:01] gkleiman commented on #3878
I am afraid that Mesos doesn't support this, so it is not possible right now.

[2016-05-11 10:08] gkleiman commented on #3881
I couldn't reproduce this neither on Marathon v1.1.1 nor on master.

[2016-05-11 10:10] gkleiman commented on #3875
@wenma I guess that the Mesos Agent changes to the user the process should run as before trying to mount the volume.

The Mesos JIRA is probably a better place to discuss if this is the right behaviour or not. Marathon doesn't control this.

cc/ @meichstedt

[2016-05-11 10:13] gkleiman commented on #3874
Marathon will try to start the app forever. There's no way to tell Marathon to give app after a certain number of retries, but it supports an exponential back-off between retries. Please check https://mesosphere.github.io/marathon/docs/rest-api.html for more details.

[2016-05-11 10:13] #3874 closed

[2016-05-11 10:13] gkleiman commented on #3868
This is not possible right now, marking this issue as a feature request.

[2016-05-11 10:15] gkleiman commented on #3866
Looks like a dupe of #3866 which was fixed in v1.1.1.

[2016-05-11 10:18] gkleiman commented on #3863
This is not possible right now.

Mesos plans to add support for pods, which will behave similar to kubernetes pods and share volumes across containers.

Once Mesos supports pods, we'll also add support to Marathon.

[2016-05-11 10:19] #3863 closed

[2016-05-11 10:20] gkleiman commented on #3869
The container image is fetched by the Mesos Agent, please report this on the Mesos JIRA.

[2016-05-11 10:20] #3869 closed

[2016-05-11 10:25] gkleiman commented on #3862
@ludovicc have you tried setting adding the name and protocol to the portMapping? You should not need to specify a port definition.

[2016-05-11 10:29] gkleiman commented on #3857
@kellyaa according to https://mesosphere.github.io/marathon/docs/constraints.html, constraint values have to be specified as a string ("5") instead as an integer (5).

@brndnmtthws created a PR to change that behaviour, but changing your app definition might be a good workaround until the next Marathon release.

[2016-05-11 10:31] meichstedt commented on #3867
@IvanTing We do currently not have too much time to actually fix this and will probably not do that before beginning of June.

As I explained above, the underlying problem is that reservations are not taken into account for constraint checks, which may lead to the behavior you have seen. A workaround might be to initially launch 1 instance, then scale to 2, then to 3 – as soon as the instances are

[2016-05-11 11:13] tmmi commented on #3884
Thanks, for tip.
I build ui npm run dist and pack with zip -r ui-1.2.1-SNAPSHOT.zip dist
rename to jar and put into my local m2repo into proper directory
 .m2/repository/mesosphere/marathon/ui/1.2.1-SNAPSHOT/
Next I change in marathon
  val MarathonUI = "1.2.1-SNAPSHOT"
and add to resolvers :+ Resolver.mavenLocal

But test failed:
*** 1 TEST FAILED ***
WebJarServletTest:

- Get /ui/ will return th

[2016-05-11 12:09] gkleiman commented on #3881
Confirmed that this affects Marathon v0.15.3.

[2016-05-11 12:10] gkleiman commented on #3881
cc/ @aquamatthias do you think we should backport the fix?

[2016-05-11 12:44] air commented on #3781
Looks like we documented the format, but didn't give any working examples.
I think we should show
- How to set up a path for a single team, `/eng/webteam`
- How to set up a path for a individual user, `/home/alice`

[2016-05-11 14:20] tmmi commented on #3447
Fix is waiting for CR: https://github.com/mesosphere/marathon-ui/pull/765

[2016-05-11 15:14] ludovicc commented on #3862
@gkleiman yes, I realised my error later, portMapping is the place to use when defining ports on a Docker container, but the behaviour of Marathon in this case was confusing: it should have reported an error as it was getting conflicting definitions for the same port. I hope that the definition of ports will be refactored and that redundancies will be removed.

[2016-05-11 22:46] robertd opened #3891 "Marathon won't start"
Hi all,

I am following [DO guide](https://www.digitalocean.com/community/tutorials/how-to-configure-a-production-ready-mesosphere-cluster-on-ubuntu-14-04) on how to install Mesos/Zookeeper/Marathon and configure it in 1 master and 2 slaves scenario, but I'm experiencing some issues.

Mesos is running just fine:

![capture2](https://cloud.githubusercontent.com/assets/31543/15198701/52667b9a-1796-1

[2016-05-12 07:29] thepolina opened #3892 "Application show up in Mesos but not in Marathon apps list"
**Environment:**
Mapr5, mesos 0.28, marathon 1.1.0, docker 1.9.0, ubuntu 14.04

**Description:**
App has been killed via Marathon
App is still running
It still showing up in Mesos
CTRL-f on a list of Marathon apps list cannot find this app
Direct link to this app in Marathon still exists ans shows that app is running
If in Marathon I press the button destroy again I get this message

Happens rando

[2016-05-12 07:37] tmmi commented on #3515
Perhaps in such a way https://github.com/mesosphere/marathon/pull/3885

[2016-05-12 09:38] kamilchm commented on #1090
@air cloud your share a screenshot?

[2016-05-12 11:06] Salaander commented on #717
+1

[2016-05-12 12:05] jdef opened #3893 "I can create a marathon app in JSON mode that will never start because cmd is null and there is no container image"
[code]

[2016-05-12 13:06] #1336 closed

[2016-05-12 16:11] robertd commented on #3891
Checked the syslog:

[code]

[2016-05-12 16:16] robertd commented on #3891
I'll do as these guys suggest here and I'll report back...
https://issues.apache.org/jira/browse/MESOS-5147

[2016-05-12 17:02] robertd commented on #3891
It worked. Forgot to mention that I'm on `Ubuntu 14.04`

[code]

[2016-05-12 17:02] #3891 closed

[2016-05-12 18:24] air commented on #1090
Sure @Raffo @kamilchm @worstadmin - here's the current mockup https://mesosphere.invisionapp.com/share/PS5KLCF7Q#/screens/127360376_App_Detail_View_-Debug-_Waiting-

[2016-05-13 01:00] vditya commented on #3795
@kolloch We worked with @klueska on MESOS 4424, wondering what is the status on Marathon support for GPU. Have you started working on it? If not we can help to expedite the development for it. Let us know

[2016-05-13 05:51] kamilchm commented on #1090
Do you plan to make it for next release? We have users that will be happy to see this and we can help to code this.

[2016-05-13 06:09] distributorofpain commented on #2193
Not sure if this is related to my issue, but if i pull a file for a private registry ( .docker dir with the config.json file in it ), then i need to update that file, mesos pulls the file again, but doesnt update/overwrite the .docker folder or the config.json file.  because this file holds credentials that are wrong, i cannot get my images downloaded as i need the credentials updated.

[2016-05-13 08:37] IvanTing commented on #3867
@meichstedt, I have tried your suggested workaround and it looks fine at this moment. Thanks.

[2016-05-13 09:41] #3875 closed

[2016-05-13 10:41] meichstedt commented on #3867
@IvanTing Great, glad it helps.

[2016-05-13 13:05] brndnmtthws commented on #3857
This should be resolved by #3865.

[2016-05-13 13:05] #3857 closed

[2016-05-13 13:05] brndnmtthws commented on #1711
This should be resolved by #3865.

[2016-05-13 13:05] #1711 closed

[2016-05-13 13:07] MihaiAnei opened #3895 "Marathon-LB stuck waiting for resource offer"
I cannot seem to be able to deploy marathon-lb, can you help me?

<img width="1686" alt="screen shot 2016-05-13 at 16 05 43" src="https://cloud.githubusercontent.com/assets/6485811/15248797/c7c5f908-1924-11e6-849e-5d694954c0fd.png">

[mesos-lb-state.zip](https://github.com/mesosphere/marathon/files/263298/mesos-lb-state.zip)

Using DC/OS v.1.7-open installed by CLI method.

[2016-05-13 13:35] manei commented on #3895
Also trying to deploy Datadog doesn't seem to work. I think it has something to do with the fact that those are DOCKER type containers. Docker is installed on all slaves, v1.11.1

[2016-05-13 17:33] kellyaa commented on #3857
@gkleiman Thanks! Yeah, that was a typo on my part.  Putting quotes around "5" still displayed the same behavior but after help from @brndnmtthws we've realized that the root cause will most definitely be solved by the referenced PR.  Our constraints that we were grouping on were scalar values.  Thanks for your help!!

[2016-05-13 20:54] evanbattaglia commented on #3386
I'm not 100% positive, but think I see this happenning with removing `cmd`, too.

[2016-05-14 00:46] michaelzhye commented on #1445
I have try to skip this issue on one line command check:

[2016-05-14 03:55] rlubke opened #3896 "Allow subscription of specific events from event stream"
Would be nice to be able to subscribe to a specific set of events from Marathon vs all events from the fire hose.

For example, we have an integration with nginx for which we subscribe to Marathon's event stream.  However, given the number of services we have there's a lot of noise generated for this integration as we're only interested in three event types.  While this would put a little more loa

[2016-05-15 12:26] kolloch commented on #3795
Just FYI: Hi @vditya, I will not work on Marathon anymore. So better ask e.g. @aquamatthias

[2016-05-15 15:31] rahimre commented on #2754
+1

[2016-05-15 16:20] jeacott opened #3898 "Private registry sandbox security problem"
If I'm using a private registry, and follow the instructions to provide the tar.gz credentials,  then those credentials are made available not only to mesos in order to procure the docker, but also to anything inside that container that cares to look at the mounted sandbox.  It would be especially helpful if the fetcher had an option to NOT copy fetched files to the sandbox.

[2016-05-16 04:22] vditya commented on #3795
Thanks for update, Hey Matthias @aquamatthias , any update on GPU support for Marathon effort. If it helps we can support that effort and work with Marathon engineer to enable it.

[2016-05-16 08:23] aliostad commented on #3406
I am getting the same problem
![image](https://cloud.githubusercontent.com/assets/487334/15284201/e3193574-1b47-11e6-9eae-21dea283d321.png)

[2016-05-16 11:39] vixns commented on #3406
Use a tunnel/vlan/VPN/... , having mesos binding a public IP without enforcing ssl is a bit reckless.
I was able to workaround my issue (mixed content when accessing marathon thru https) by enabling SSL on mesos.

These are different issues, but related to the same design flaw ( not proxying logs thru marathon )

[2016-05-16 12:33] aliostad commented on #3406
Thanks @vixns but I am using IP whitelisting for the public IP so it is secured access although the communication is publicly visible. Thanks I will look into enabling a tunnel.

[2016-05-16 16:06] andrebeat opened #3899 "Upgrade doesn't wait for readiness check"
Currently an app upgrade doesn't wait for readiness checks to pass. As soon as the app is healthy the old version is taken down, even though the readiness checks haven't succeeded yet.

[2016-05-16 20:43] drewrobb commented on #2430
+1

[2016-05-16 22:20] timcharper opened #3900 "Require M-N healthy instances (count, rather than percentage)"
I've deployed a Cassandra cluster (3.x) with Marathon. With a replication factor of 3, it's a problem to have 2 nodes unhealthy at a given time. I'm using persistent volumes to pin containers to consistently start on the same hosts (because Marathon support for full disk volumes is not actualized ATM).

Presently, the restart strategy only allows me to specify a minimum percentage of unhealthy hos

[2016-05-16 22:23] timcharper opened #3901 "Allow specification of >50% minimum healthy instances for persistent tasks"
There doesn't seem to be a really good reason for this restriction. I'd prefer a scenario in which my rollout stalls because minimum healthy instances cannot be satisfied, than to have more unhealthy instances than can be tolerated by the cluster.

[2016-05-16 23:13] timcharper commented on #616
I'm hitting it, too; in a local cluster I've provisioned in VMs. If I bring the whole thing down, then back up, Marathon remembers the tasks but Mesos has no recollection of them. I can't kill them / get Marathon to believe that they're gone. It should be able to query mesos and realize that no such task exists anymore.

[2016-05-17 05:03] adolphlwq opened #3902 "Errors were encountered while processing: /var/cache/apt/archives/python2.7-minimal_2.7.9-2_amd64.deb"
## env
- ubuntu 15.04 vivid 64bit
- java 8
- mesos 0.26
- marathon=1.1.0-1.0.471.ubuntu1504
## problem

I use the repo provided by mesosphere (deb http://repos.mesosphere.io/ubuntu/ vivid main).I run into this error when  installing marathon:

[code]

[2016-05-17 08:24] fpgeek opened #3903 "'apply' button is broken"
I found that 'apply' button is broken on the marathon v1.1.1.
<img width="770" alt="2016-05-17 4 36 10" src="https://cloud.githubusercontent.com/assets/1998160/15315665/068a865e-1c54-11e6-9673-13923f6f83d4.png">

It's because 'appVersions' property of 'AppVersionsStore' object hasn't the latest version app.
[code]

https://github.com/mesosphere/marathon-ui/pull/766

[2016-05-17 10:52] hotstepper13 opened #3904 "launch_tokens seems not to work in Version 1.1.1"
I am using Marathon 1.1.1 on Ubuntu14.04 and set launch_tokens to 2. From the docs I assume that this means that only 2 tasks are started within 30 seconds (default interval).

However I can see that there seems no limit regarding the parallel starting of tasks. (have seen 5 parallel starts so far)

Healthchecks are defined and I can see that marathon has multiple apps/tasks in Deployment state.

[2016-05-17 11:02] hotstepper13 commented on #3901
If i remind correctly you could set minimumHealthCapacity to 0.5 which means that at least 50% of your tasks must remain active.

In conjunction with maximumOverCapacity you can define how your deployment should work.

For instance:
All tasks are stopped and redeployt
minimumHealthCapacity: 0
maximumOverCapacity: 0

Stop 50% of tasks, redeploy them, wait until they are healthy and then stop and re

[2016-05-17 11:11] wenma opened #3905 "Marathon loading application error while restarting mesos"
[code]

before restart mesos master, the app test/test-es2.2 is running and active,  but there is someting error when i restarted mesos master.  what should I do ?

[2016-05-17 15:02] timcharper commented on #3901
Hi @hotstepper13 thanks for the reply! This was all clear to me. Ultimately, https://github.com/mesosphere/marathon/issues/3900 is what I want, but I didn't want to conflate the features too much so I opened them separately.

My requirement is that at most 1 instance is unhealthy at a given time during deploy; I absolutely cannot over-provision. This requirement could be satisfied by allowing me t

[2016-05-17 15:07] meichstedt commented on #3901
@timcharper I can see your point. In general we try to prevent a deployment from becoming stalled, if possible, because there's no easy way to find out why it's not proceeding. However, the upgradeStrategy is already interpreted in context of the _type_ of application: for apps using persistent volumes, Marathon won't allow any overCapacity (which it **does** for normal apps even if `maximumOverCa

[2016-05-17 15:14] timcharper commented on #3901
@meichstedt that sounds like a reasonable compromise to me. It does seem to bend the meaning of the term, `minimumHealthCapacity`, by extending the meaning to be "`minimumHealthCapacity` except when this means no instances can be unhealthy, in which case `minimumHealthCapacity` = # of hosts - 1". I think it would be clearer to add a different strategy, and allow a numeric qty specification for # o

[2016-05-17 15:22] timcharper commented on #3901
Scratch that; adding a `qty` input would be too much complexity, since `minimumHealthCapacity` indicates no unit. I'm becomming more won over to your suggestion, @meichstedt

[2016-05-17 15:27] meichstedt commented on #3901
@timcharper Totally agree. The fact that the restart behavior doesn't really adhere to the maximumOverCapacity bugs me for a while now. People tend to think that `maximumOverCapacity = 0` means _there'll never be more instances than specified_, which is unfortunately wrong.

I'd really like to make that clear and easy to use, and having an upgradeStrategy that _somehow_ allows specifying integer c

[2016-05-18 03:35] thepolina commented on #616
Experiencing this recently. One of the tasks stuck in state described here https://github.com/mesosphere/marathon/issues/3892
finally disappeared from Marathon but keeps spinning in Mesos

[2016-05-18 07:14] tmmi commented on #1090
@air Perhaps backend for this in such a way https://github.com/tmmi/marathon/tree/show_refused_offers_endpoint

[2016-05-18 22:11] Lax77 opened #3907 "Adding health checks on IP per container with docker containerizer causing Task to give out Host IP instead of Container IP"
Seeing a weired issue. When I provision a container with Calico IPAM using Docker Containerizer on mesos, with out using health check I could see mesos state API call (http://[mesos master]:5050/master/state.json) returning container's IP consistently as expected.

However when I add health check and re-provision, mesos state initially gives in container IP but after a minute or so if I query back

[2016-05-19 01:05] thepolina commented on #3892
Hey
Further investigation shows a bug in Marathon apps list.
**More details:**
Direct link to app remains, but app not in list
Number of tasks is 1
App is still in Mesos
If I manually stop docker container Marathon restarts it
Container still in Zookeeper
When I try to destroy it I got this alert
Error destroying /app0: App '/app0' does not exist
When I try to suspend it I got this
Error scaling /

[2016-05-19 04:03] nobusue commented on #2424
+1

[2016-05-19 04:04] hrdmtr commented on #2424
+1

[2016-05-19 10:11] adyatlov commented on #2164
+1
Please see this customer issue: https://groups.google.com/a/dcos.io/forum/?utm_medium=email&utm_source=footer#!msg/users/sS0nqyXUZm4/3STrG6r3AAAJ

[2016-05-19 11:43] ernestas-poskus commented on #2164
+1

[2016-05-19 14:00] janstenpickle opened #3909 "Persistent volume apps stuck at suspended"
I'm having trouble running an app in Marathon using persistent local volumes. Having followed the instructions, starting Marathon with a role and principal and creating a simple app with a persistent volume, it just hangs at suspended. It seems that the slave has responded with a valid offer, but can't actually start up the app. The slave doesn't log anything regarding the task, even when I compil

[2016-05-19 14:01] air opened #3910 "error message for containerPath is difficult to parse"
https://www.dropbox.com/s/j76sollcsw02i8y/Screenshot%202016-05-18%2014.26.56.png?dl=0

We should shoot for human-readable error messages. That one is not great, especially given that that regex literally means, ​_anything but no leading slash_​. So we could have said, ​_the containerPath must be a relative path with no leading slash_​.

[2016-05-19 14:10] jdef commented on #3910
actually the regex means: "zero or more non-slash characters". we don't allow any subdirectories, it's just a single-level relative path. local persistent volumes uses the same validation rule. we did the same w/ external volumes for (A) consistency, and (B) because the Mesos team asked us to (not sure what the underlying reasons were... perhaps related to additional error checking req's for more

[2016-05-19 15:37] yangzhares opened #3911 "Service 'marathon' check failed"
Here is [an issue](https://github.com/CiscoCloud/mantl/issues/1460)  about marathon from Mantl community, please help check.

Additional information about this issue, Consul health check run a health check script on server to check marathon service running status, the marathon service definition as

[code]

Consul runs script `curl --silent --show-error --fail --dump-header /dev/stderr --retry 2 -

[2016-05-19 16:20] kamilchm commented on #1090
@air your screen lacks one information. Some offers can be refused because after combining many requirements for resources and constraints, eg. I want to run app with 4 CPUs in two racks (["rack_id", "GROUP_BY", "2"]) and there's no CPUs left in one rack but there plenty of it the second one. So as I understand your proposition it will show that there's no matches for rack constraint but CPUs are

[2016-05-20 04:10] junneyang commented on #1479
If you use docker containers, you should have all the control you need.
——if i use docker containers, how do i execute scripts on the target host before the container start or after the container stop?
i think it may be very useful!

[2016-05-20 11:58] gkleiman opened #3912 "Fix flaky `LeaderIntegrationTest`"
The leadership code was heavily refactored by @sttts and this test is new. There's a not-so-small chance that the test is running into a race-condition.

[code]

[2016-05-20 12:18] alex-ta opened #3913 "Marathon fails on leader election"
Tested Marathon and deployed an docker image that did not work.
Because I was inpatient and clicked many times on the gui, marathon crashed, and did not come up again. I restarted (manual) the leader on the node with "service marathon restart", and the leaderelection took place.

3 Marathon Mesos ZK in HA Mode

Logs are to long, but as i looked over it there were no warning , just info tags.

[2016-05-20 15:06] andlaz commented on #3765
any update for implementing consumption of `Path` disk resources? I'm seeing offers logged with 0.0 disk resources while a few lines later the correct published resources are logged

    May 20 16:57:47 daasinoa-vls01 marathon[13795]: [2016-05-20 16:57:47,753] INFO Offer [8054cda3-39a1-4af3-aa5b-fb1020033a7b-O13934]. Considering unreserved resources with roles {*}. Not all basic resources satisfie

[2016-05-20 17:17] edurdias commented on #846
+1

[2016-05-20 18:07] rlubke commented on #3583
+1 on getting a resolution on this.

[2016-05-20 21:00] clehene commented on #846
Marathon shouldn't guarantee that resources exist.
We can guarantee resources in Mesos through reservations.

The 1-1 framework - role "binding" may become the next issue, though as we'd need / like to ensure resources by workloads (in Marathon) rather than have it for the entire framework.

[2016-05-20 23:16] sunshinezeng commented on #3892
Seeing the same issue. Not sure whether it is related to us deleting the apps under a higher concurrency

[2016-05-22 06:05] timonwong opened #3916 "Stuck when two archive contains overlapped file structure in resource "uris""
Provided we have two zip files:
[code]

Then we create a marathon task for it:
[code]

Then after the `aaa.zip` was extracted, it get stuck when trying to extracting `aaa-patch.zip`, the log will finally look like:

[code]

[2016-05-23 05:05] junneyang opened #3917 "is there any way to enter the app for debug ?"
how to enter the app fro debug ?
i suggest marathon provide proxy & webUI for this.
or any one could give some suggestions?
thanks!

[2016-05-23 06:58] xiaods commented on #3111
if the app is scaling to 2, the add-host can't dynamically with shell.

[code]

[2016-05-23 07:25] WUMUXIAN commented on #2424
+1

[2016-05-23 08:40] xiaods commented on #1913
cpuset can add by parameter. refer:https://mesosphere.github.io/marathon/docs/native-docker.html#privileged-mode-and-arbitrary-docker-options

[2016-05-23 10:58] bydga commented on #2707
Just to clarify - its really a bug in mesos - in the docker executor implementation: https://issues.apache.org/jira/browse/MESOS-4279

[2016-05-23 11:12] gkleiman commented on #3916
@timonwong thanks for creating the issue.

The fetcher is part of Mesos, not of Marathon. Can you please create an issue in [Mesos' bug tracker](https://issues.apache.org/jira/browse/MESOS)?

[2016-05-23 11:12] #3916 closed

[2016-05-23 11:17] gkleiman commented on #3903
cc/ @pierlo-upitup

[2016-05-23 11:48] pradeepchhetri commented on #2164
+1

[2016-05-23 12:13] xiaods opened #3919 "marathon app json can't support dynamic values in double string"
[code]
i need add a slave ip to docker daemon, but when i scaling the app instance, the ip is need dynamic ip. so how can i do that?anyone can do me a favor to answer the question?

[2016-05-23 12:13] xiaods commented on #3919
currently marathon only accept $HOST as a literal string.

[2016-05-23 17:25] aquamatthias opened #3924 "Tasks declared as Lost will be killed when reported running again"
When mesos agent registration uses non strict registry, TASK_LOST is not a terminal state.
A task that is reported as lost can be running again.

[2016-05-23 21:38] yuriksan commented on #2424
+1 Please !

[2016-05-23 21:47] xiaods commented on #3898
any update?

[2016-05-24 02:37] searover commented on #3866
I have the same problem, but when I start marathon, the console log shows "MESOS_NATIVE_JAVA_LIBRARY is not set. Searching in /usr/lib /usr/local/lib.", then I realized that I've pass the --prefix=/usr/local/mesos option when configure the mesos source code,so the libmesos.so cannot be found in marathon.
So I set the environment value MESOS_NATIVE_JAVA_LIBRARY to the right path(the location of lib

[2016-05-24 04:40] ejether commented on #3111
I don't know if I understand what you are saying but the add host is only being used to add the ip of the docker host. If the app is scaling, then the add-host flag will get run on both containers.

You may run into a lot of problems if you have localhost declared twice in your /etc/hosts file.

[2016-05-24 06:02] sds commented on #3352
In our case, the problem is simply that if you serve Marathon behind a proxy over HTTPS, the link fails to load because it attempts to fetch from the Mesos master over HTTP.

[code]

This is related to the following open issue in the Mesos project: https://issues.apache.org/jira/browse/MESOS-2856

[2016-05-24 06:08] reachbach commented on #2164
+1

[2016-05-24 08:53] xiaods commented on #3111
@ejether thanks for your reminder.

[2016-05-24 09:58] erSitzt commented on #2414
+1

[2016-05-24 12:06] gkleiman commented on #3898
@jeacott, @xiaods: this needs support from Mesos' fetcher. Please open a ticket in their JIRA.

[2016-05-24 12:14] alexraju opened #3925 "How to implement linking between docker containers in Marathon applications?"
I have created a sample application from a docker image which has a dependency towards docker container running database.
After I the marathon deployment of database, the database container is having dynamic naming, not the one I passed as docker parameter. Because of this I'm not able to set the `link` parameter when deploying the sample application. What is the recommended way to do this?

Also,

[2016-05-24 13:56] dqminh opened #3926 "Create PORT_NAME environment variable when we define portDefinitions with name"
For example, given the following config:
[code]
it would be nice for documentation purposes to also have `PORT_GRPC` and `PORT_HTTP` environment variable defined together with `PORT0` and `PORT1`

[2016-05-24 14:12] gkleiman commented on #3926
@dqminh thanks for the feature request, I added it to our backlog.

[2016-05-24 14:19] meichstedt commented on #3924
Marathons general behavior is to expunge tasks from state for which it receives a TASK_LOST status update. It will then scale the app to make sure enough instances are running. If there are constraints or insufficient resources, it might not be able to launch a new task.

With this fix applied, Marathon will still scale the app and try to launch a new task for every​ received TASK_LOST ​immediatel

[2016-05-24 18:09] ravinder1985 opened #3929 "marathon doesn't support overlay network"
would you please provide compatibility with docker overlay network?

i can't access container running on machine if i am running on overlay network.

[2016-05-24 18:18] micahhausler commented on #3416
@aquamatthias So is it impossible to pass a command to a docker container and have an environment variable be interpreted in that command? `cmd` is incompatible with a `container` in an app definition.

[2016-05-25 03:05] xyalan opened #3932 "Be able to set app must provide constraints?"
I have tested Marathon constraints with Mesos attributes.Now app which no constraints are provided is to place it anywhere, but I do not want somebody do this.App that deploy to marathon must provide constraints, refuse if no.Be able do this Now? How to configure?

Like #1619

[2016-05-25 04:07] Spritekin commented on #3866
@gkleiman
This ticket is a duplicate of this ticket? :)
I run from the docker image 1.1.1 which is the version you mention should be fixed.
I think this ticket shouldn't be closed.

[2016-05-25 05:11] ejether commented on #3111
In my experience, it does work to add it as a parameter in marathon.

[2016-05-25 06:05] kamilchm commented on #1056
We are using groups for building "ephemeral" dev environments with generated names. After upgrading to 1.1 we saw how many of it was created in last few months making Marathon app list almost unusable :/
What about implementing empty groups GC proposed by @kolloch? We can create a PR if we agree on endpoint method and path. @aquamatthias ?

[2016-05-25 07:24] aquamatthias commented on #3416
@micahhausler Don't know what you mean by incompatible. Please see https://mesosphere.github.io/marathon/docs/native-docker.html, especially the Command vs Args section.

[2016-05-25 08:11] xiaods commented on #3925
you need orchestration with your engine

[2016-05-25 08:14] medzin opened #3933 "Inconsistent validation in Marathon and Marathon UI"
There is inconsistency between memory resource validation in Marathon (API) and Marathon UI (JavaScript). API requires that the memory should be greater than or equal to zero but in UI I need to enter value greater than or equal to 32.

[2016-05-25 08:34] janisz opened #3934 "AppDefinition memory validation is not consistent between UI and backend"
Occurrences in code:
- Backend:
    * [src/main/scala/mesosphere/marathon/state/AppDefinition.scala:552](https://github.com/mesosphere/marathon/blob/e4127f511827916b906cbc5cd1e9720f6f51e2d9/src/main/scala/mesosphere/marathon/state/AppDefinition.scala#L552)
    * [docs/docs/rest-api/public/api/v2/schema/AppDefinition.json:379](https://github.com/mesosphere/marathon/blob/515f04b2b741a5c7dee36515c893

[2016-05-25 08:37] janisz commented on #3934
Duplicates #3933

[2016-05-25 08:37] #3934 closed

[2016-05-25 08:59] eLvErDe opened #3935 "http_callback blacklisted with no way out"
Hello,

After a network modification I broke the callback link between marathon and marathon-lb. Marathon detected the callback was unsuccessful and decided to blacklist it (well, honestly that doesn't look right to me at all but it's up to you).

However, after fixing the issue I found no way to get the callback working again. Triggering marathon-lb restart make it subscribe again but Marathon ke

[2016-05-25 09:07] alexraju commented on #958
Any update on this?

[2016-05-25 09:45] xiaods commented on #3896
+1

[2016-05-25 09:48] medzin commented on #2925
Documentation available on https://mesosphere.github.io/marathon/docs/constraints.html

[2016-05-25 09:48] #2925 closed

[2016-05-25 09:54] xiaods commented on #3111
@ejether how can we support it?

[2016-05-25 09:57] xiaods commented on #3898
@jeacott do you have some proposal on fix it? if not , i think the issue can't be fix asap

[2016-05-25 10:03] jeacott commented on #3898
Like i suggested, an option to NOT copy artifacts to the moumted sandbox would suit very well.

[2016-05-25 13:30] micahhausler commented on #3416
I see what you mean now. I got confused because the `cmd` doesn't respect the docker container's entrypoint.

[2016-05-25 14:26] Yubo-Li commented on #3795
@vditya I've just finished the marathon API support for "gpus". Can we contribute it to here if @aquamatthias confirmed this issue is still not solved?

[2016-05-25 15:15] klueska commented on #3795
@Yubo-Li can you verity that it runs through this properly:
https://github.com/klueska-mesosphere/mesos-gpu-docker

[2016-05-25 16:41] ejether commented on #3111
That is really up to you and affected by what you're automation infrastructure consists of.

[2016-05-25 16:45] sgran commented on #2249
Hello,

I was just going to make a feature request for exactly the feature @kevincox made, I'm glad I found this first :)

What I was naively hoping for was an event of TaskScheduledForRemoval or something.  I realize this will be slightly difficult if this is implemented as a delay on the healthy state of the new instance, rather than as a scheduling event on the old instance.

Thanks,

[2016-05-26 00:04] yfc845 opened #3936 "how to ask marathon always to run the latest image"
We have marathon run docker images which are located in our private registry as apps, when we do some change to the image and push a new version of image to registry (tag is auto generated in format of "yyyyMMddhhmm"), we would like Marathon to always run the image with the latest time stamp. So I did below things:

In marathon app config, modify the container image to "docker-registry...../app:la

[2016-05-26 02:01] Yubo-Li commented on #3795
Sure, I'll try and give you the result.

[2016-05-26 02:33] luhkevin commented on #3050
I'm also seeing this issue, although my PATH var is not empty in the marathon spec.

[2016-05-26 03:24] readthecodes opened #3937 "Please support move app between groups directly！"
I have a app run in group1, but now I want move it to group2, I can't move to group2 directly, the only way marathon provide is create another app in group2 and then destroy the old app in group1.

[2016-05-26 12:58] gkleiman commented on #3050
@jeroenwijdemans this is a Mesos bug. The Mesos fetcher should use it's own environment, without the variables from `TaskInfo`.

Can you please file an issue in Mesos' bug tracker?

[2016-05-26 12:58] #3050 closed

[2016-05-26 13:03] gkleiman commented on #751
Fixed by #3534.

[2016-05-26 13:03] #751 closed

[2016-05-26 13:04] gkleiman commented on #2828
Dupe of #344

[2016-05-26 13:04] #2828 closed

[2016-05-26 15:45] liquid-sky opened #3938 "Persistent Docker volumes are not actually persistent"
Launched `postgres` container from [example in documentation](http://mesosphere.github.io/marathon/docs/persistent-volumes.html). It starts and claims to have a persistent volume attached:

<img width="1433" alt="screen shot 2016-05-26 at 16 22 07" src="https://cloud.githubusercontent.com/assets/3029571/15579801/1ae9d06c-235e-11e6-8958-4e9536366dd5.png">

[code]

Upon inspection it doesn't look li

[2016-05-26 16:25] aquamatthias commented on #1056
@kamilchm The API allows deleting groups.
Adding a special `"GC"` call for empty groups is probably a bad idea.
I could think of an option when deleting an app, that also deletes the group, if it is empty.
Would that make sense?

[2016-05-26 21:01] micahhausler commented on #3213
@Spritekin Are you by chance running Mesos itself in a container? If that is the case, you need to mount the agent's `work_dir` to the host.

[2016-05-26 21:11] gwgundersen opened #3939 "Why is Marathon updating my application every ~5-15 minutes?"
I have an application hosted on Docker Hub, deployed in a Docker container, and running via Marathon. I noticed this morning that my Docker Hub image had 7.7K pulls. Suspecting that my application had not suddenly become very popular, I began monitoring it on Marathon and noticed that the `Updated` column is changing. Here are the timestamps for the past hour:

[code]

[Here is a GIF of Marathon u

[2016-05-27 00:15] Spritekin commented on #3866
It happened again. The mesos leadership changed and marathon is again unable to claim leaderhsip. The assigned leader keeps asking if he is leader.
[code]

[2016-05-27 04:08] bwhaley commented on #2140
Yep, same as @brentley. Health check was failing until I set it to use localhost and my app's port rather than the container. Works now. Marathon v1.1.1, Mesos v0.28.0

[2016-05-27 05:17] alexraju commented on #751
I'm also facing this issue. I'm trying to install Kong api gateway and for this both 7946/tcp and 7946/udp ports needs to be mapped to same host port 7946. While starting with the following portmapping settings
        {
          "containerPort": 7946,
          "hostPort": 7946,
          "servicePort": 0,
          "protocol": "tcp",
          "labels": {}
        },
        {
          "contai

[2016-05-27 09:27] kopax commented on #751
You need to add the resource Port to mesos slave port range by adding the start parameter `--resources-port=[7946-7946,31000-32000]`.

Otherwise you can just remove  the `hostPort` and use the port randomly selected by mesos from the resources port available.

[2016-05-27 10:30] Poogles commented on #3939
Are you sure the containers not exiting and being restarted by Marathon?  Have you checked the Mesos logs?

[2016-05-27 11:28] aquamatthias opened #3942 "Unreachable Tasks (TASK_LOST) should not be health checked or killed due to failing health checks"
If a task is considered temporarily unavailable (TASK_LOST) Marathon should not initiate health checks.
Failing health checks for lost tasks should not kill that task.

[2016-05-27 11:44] aquamatthias commented on #3932
This is currently not possible.
I can think of a plugin interface for custom validation,  that could help here.

[2016-05-27 11:44] #3932 closed

[2016-05-27 11:47] aquamatthias commented on #3933
In the UI we try to guide the user as best as we can.
In the service layer we try to allow as much as we can.
Thats why there is this difference.

[2016-05-27 11:47] #3933 closed

[2016-05-27 11:52] aquamatthias commented on #3935
Failing callbacks back off. Marathon will retry this callback after the back off time automatically.

[2016-05-27 11:52] #3935 closed

[2016-05-27 11:53] aquamatthias commented on #3936
You can set:
[code]
which per default is false.

[2016-05-27 11:53] #3936 closed

[2016-05-27 11:58] aquamatthias commented on #3938
@liquid-sky the created volume is not under /pgdata but under $MESOS_SANDBOX/pgdata
@adyatlov Can you review the example.

[2016-05-27 13:05] liquid-sky commented on #3938
@aquamatthias I haven't found anything in `$MESOS_SANDBOX`, hence the question.

[code]

[2016-05-27 13:09] oilbeater opened #3945 "Anyway to dynamically attach labels to apps without restart containers."
Seems like updating labels will cause container redeploy.

I just  want to attach some labels to a set of app so that I can do some advance deployment in load balancer level like blue-green or traffic distribution, the strategy may change  so I want to change the labels time after time. However if container redeploy there will be a period of down time.

What I need is some dynamic changed attribut

[2016-05-27 13:23] liquid-sky commented on #3938
In example with `mysql`, the directory gets created under `$MESOS_SANDBOX`:

[code]

After scaling down and up again, the `me` file is gone:

[code]

[2016-05-27 13:44] erickmgriffin opened #3946 "Can I get an definitive answer on where the COMMAND healthcheck runs?"
I see confusing git, forum and slack entries on where exactly the healthcheck for a DOCKER image runs.  Does it:
- run on the VM that runs the mesos-slave and service container?
- run in the service container itself?

Also, what exactly does marathon check for to consider a COMMAND to be healthy?  0?  Or, something else, assuming its a bash or sh command.

Can you update and elaborate a bit more i

[2016-05-27 13:50] liquid-sky commented on #3938
Looks like the data is mounted but the source is `$MESOS_WORKDIR` instead of the `$MESOS_SANDBOX`. Afaik, the workdir doesn't persist

[code]

[code]

[2016-05-27 14:26] nicovillanueva commented on #3946
As per [the docs](https://mesosphere.github.io/marathon/docs/health-checks.html), "health checks are locally executed on the agent running the corresponding task"

For example, I have one healthcheck configured like so: http://imgur.com/bfLByfR
Beyond the fact that such check is awful, that is ran inside the Docker container that makes up the Marathon application (a.k.a., the Mesos -long running-

[2016-05-27 14:30] gwgundersen commented on #3939
I've checked Mesos logs via the user interface, but that only lists the logs for current applications. My application's logs always have only a few lines, since it was always just restarted. Should I be looking somewhere else?

[2016-05-27 14:43] erickmgriffin commented on #3946
COMMAND health checks are locally executed by Mesos on the agent running the corresponding task.  To me, that should read, "COMMAND health checks are executed by Mesos in the container of the corresponding task."  Sounds like double-talk to me, or a translation.

[2016-05-27 14:52] nicovillanueva commented on #3946
Absolutely. Unless someone else corrects us, maybe later I'll send a PR to clarify this.

[2016-05-27 17:08] kesselborn commented on #3820
sorry, but unless I am totally mixing something up here, this pull request does not fix the bug: The diff the the original reporter posted was as follows (side by side for better readibility):

[code]
the problem being a conversion from an array of arrays to an array of hashes that have the key `actions` (see for example line 9). If I understand correctly, this fix keeps the new structure and just

[2016-05-27 20:06] nicovillanueva opened #3947 "High CPU utilization and non-responsiveness"
OS: Linux Mint 17
Browser: Google Chrome 49.0.2623.110

Very frequently, when having a Marathon tab open for a while, it ends up being almost unresponsive.
If I happen to leave it open, do something else for ~5 minutes, then go back to it, it usually will be completely unresponsive to clicks for a few seconds. I usually just open the same URL on another tab.

Inspecting the browser's task manager,

[2016-05-28 16:56] alon-argus commented on #1345
+1
crashed my whole system before I even noticed

[2016-05-29 10:01] kamilchm commented on #1056
I think this will be more consistent with implicit group creation when you you ``POST`` app with slashes in ID to ``applications``.
Right now, you don't have to create group explicitly before you create an app but you need to call delete group if you want to clean up after destroying same app.

[2016-05-29 11:37] yangdalong opened #3948 "How should I use HDFS as a volume in Marathon?"
Hi.
When I use Marathon，I want to use HDFS as a volue,but I can't find the right way to solve it.Here is my configuration:
{
      "id":"ssh-test-hdfs",
      "container": {
      "type": "DOCKER",
      "volumes": [
      {
        "containerPath": "/opt/mesosphere",
        "hostPath": "hdfs://192.168.131.142:9000/",
         "mode": "RW"
       }
      ],
     "docker": {
     "image": "192.168

[2016-05-30 08:11] pierlo-upitup commented on #958
Hi @alexraju this feature was implemented in https://github.com/mesosphere/marathon-ui/releases/tag/v0.15.0

[2016-05-30 09:21] pierlo-upitup commented on #3947
Hi @nicovillanueva what UI version are you using? Type `g v` in your browser to reveal the UI version dialog. Thanks!

[2016-05-30 10:27] collinmsn commented on #3653
@Poltergeist  I ran into the same problem, has this bug  been fixed?

[2016-05-30 10:37] richardmoe commented on #2414
+1

[2016-05-30 13:02] nicovillanueva commented on #3947
Hi! On such dialog, it says 1.1.2
On the "About" dialog, says 1.1.1

[2016-05-30 13:28] pierlo-upitup commented on #3947
OK so that's the latest. Thanks.

[2016-05-30 13:41] philipnrmn commented on #3913
Hi @alex-ta, we'd need a bit more information on the nature of the failure, and ideally some steps to reproduce this issue, in order either to file a bug or to suggest a fix.

[2016-05-30 13:48] philipnrmn commented on #3917
Hi @junneyang, a proxy and web UI for debugging tasks is a great feature idea! I think it's well beyond the scope of Marathon core so I'm going to close this issue, but please don't be discouraged by that -  we'd love to see a plugin if you were inclined to write one.

Your first line of attack in debugging is the logs, which are provided for download in the task detail view. If they are not helpf

[2016-05-30 13:48] #3917 closed

[2016-05-30 14:00] kamilchm commented on #3917
@philipnrmn debugging is needed mostly when app fails and you [can't jump or download logs of failed tasks](https://github.com/mesosphere/marathon/issues/3447) at the moment :( You need to go to Mesos Web UI and filter failed tasks list with name of your app to see links for its sandbox.
We created 2 PRs in Marathon UI to fix these issues:
* https://github.com/mesosphere/marathon-ui/pull/765
* htt

[2016-05-30 14:47] pierrecdn opened #3949 "Provide a Dockerfile to build marathon-ui project"
Actually, it is really painful to build the marathon-ui project (nvm, npm, gulp, specific versions required, etc.).
It could be easier to maintain a Dockerfile image.

[2016-05-31 00:39] gradywang opened #3950 "Improve GROUP_BY docs [was: GROUP_BY constraint does not work.]"
Hi,

I have a Marathon cluster with three Mesos agents:

[code]

And I have tried the **GROUP_BY** constraint, but found it does not work, my test steps as below:

Create application **/test-group-by** with following definition

[code]

And according to my understanding of the **GROUP_BY** constraint description in Marathon official doc, I think those six instances should be distributed evenly acr

[2016-05-31 03:11] liyubobj commented on #3795
@klueska I verified my modification based on your docker scrpits, and it seems work fine:
[code]
And the output of the command:
[code]

[2016-05-31 03:13] liyubobj commented on #3795
I have no server with 2GPUs on hand, so I tested on 1 GPU case. Also, to make the testing running on my local environment, I also made some modifications on the code. Please see the code diff here:
https://github.com/liyubobj/mesos-gpu-docker/commit/b3e021fb10a625faa5829f3586e85b5edbc698f8
Two anothers things also need to do:
1) Add webUI support of GPU
2) Add test cases

[2016-05-31 04:13] Spritekin commented on #3213
@micahhausler

Hi, yes indeed I am. I run in CoreOS so everything is docker.

So, you suggestion to mount the agent's work dir to the host... what do you mean exactly? Where in the host?
This is my mesos-slave command:
[code]

I have /var/lib/mesos/slave as my work dir inside the container but I need to mount it to /var/lib/mesos/slave in the host... as in:
-v /var/lib/mesos/slave:/var/lib/mesos/s

[2016-05-31 05:16] kamilchm commented on #3950
There are few different *strange* behaviors of **GROUP_BY**
* https://github.com/mesosphere/marathon/issues/2925
* https://github.com/mesosphere/marathon/issues/3220

If you tell Marathon to `"GROUP_BY", "2"` it will spread tasks at `minimum` 2 racks https://github.com/mesosphere/marathon/blob/master/src/main/scala/mesosphere/mesos/Constraints.scala#L64

[2016-05-31 09:38] dariko commented on #3406
I have a similar error on a (ssl+authentication)-enabled deployment:

I access the ui via https://h2.mydomain.com:8443 (one of 3 marathon hosts).
When in the ui I click `stdout` or `stderr` a request to `https://h2.mydomain.com:8443/pkgpanda/active.buildinfo.full.json` fails with 404

on the active mesos master log i found this error

`
May 31 11:33:16 h2.mydomain.com marathon[20523]: [2016-05-31

[2016-05-31 09:50] elianka opened #3951 "can marathon specify host_ip when setting portmapping?"
when i use marathon to create docker containers, i could use portMappings to set port in container and port in host. Meanwhile, i have two ethx on host, such as IP_A and IP_B, and i just want to set the port mapping on IP_A then IP_B. Can marathon do this?
like the function in `docker run  -p IP:host_port:container_port`

[code]

[2016-05-31 12:01] micahhausler commented on #3213
Yes, that solved it for me.

[2016-05-31 12:35] Devatoria opened #3952 "Unable to remove an application if it is in a subgroup named "tasks""
When using Marathon 1.1.1, if I create a group named `myfolder`, then a subgroup named `tasks`, and then launch an application in this subfolder, Marathon is unable to remove this app.

[code]

This error is probably caused by the Marathon API call `/v2/apps/{app_id}/tasks/{task_id}` which shadows the call `/v2/apps/{app_id}/tasks`. Indeed, the `{app_id}` parameter is `/myfolder/tasks/nginx` here.

[2016-05-31 13:14] bateau84 commented on #2414
+1

[2016-05-31 17:27] jitendraky opened #3953 "dcos 1.7 - unable to access marathon"
Getting error while accessing marathon, seems to be an issue with zookeeper

HTTP ERROR: 503
Problem accessing /. Reason:
Could not determine the current leader

[2016-05-31 18:08] Lax77 commented on #3907
Anyone has any luck getting Container IP reported by Mesos, with Health check defined in the Task definition?

[2016-05-31 22:44] ssk2 opened #3954 "Deployments should be able to fail"
Right now, it's not possible for a deployment to fail. If an application is failing to start successfully, it's possible for the deployment to continue forever. Users work around this by monitoring the deployment (for example: https://github.com/mesosphere/jenkins-marathon-plugin/issues/16#event-676309484) and if it hasn't happened within a known "good" time limit, they roll it back by applying a

[2016-06-01 00:18] seanjensengrey commented on #2357
One can use `equivs` to generate a dummy `.deb` that satisfies `java8-runtime-headless`

[code]

In file `dummy-jdk-8u91`
[code]

[2016-06-01 04:41] yfc845 commented on #3936
shouldn't close it.... the answer is not answering at all...anyway thanks for the reply aquamatthias.

My question is:

The latest tag does not represent for the real latest one, most probably.

Is there a way to update the tag:latest image to the same as the real latest one whenever a new one is pushed?

Or is there a way to ask marathon to always run the real latest one? instead of running the l

[2016-06-01 04:56] yfc845 opened #3955 "Is there a way to manually update the image with tag:latest to the real latest one?"
As in my environment there will be new docker image pushed to our registry frequently, thus whenever there is a new version of image, we have to manually update it to the image config in Marathon.

But as you know, the tag:latest doesn't represent for the real latest image, thus I cannot config in marathon like: "image: xxx/xxx:latest"

I am thinking if there is a way, everytime when pushing a new

[2016-06-01 08:23] tymofii-polekhin opened #3956 "Marathon 1.1.1 and Mesos TaskStatus"
Hello, i've builded Mesos from release tar of 0.28.1 version and launched marathon on top.
Then i created simple task in marathon to launch `grafana/grafana` docker container with `BRIDGE` network to port 3000 from random port.
Configured a TCP health check for this port in marathon.
Container went up well and health checks are green, but...

Looking at mesos-slave logs i don't see any TASK_STATUS

[2016-06-01 08:35] reachbach commented on #1242
@air any update on this issue? This is quite an important requirement for our production use case as well.

[2016-06-01 10:51] kamilchm commented on #3954
Related to https://github.com/mesosphere/marathon-ui/pull/739

[2016-06-01 11:35] meichstedt commented on #3954
I understand the need for better behavior here, but I'm not sure your suggested solution fits the problem, @ssk2. To me this feels like adding a new feature instead of providing the information needed to react with a sensible action.

In order to rollback a deployment, Marathon creates a new deployment with the previous version. There is no extra state or relation between deployments. If Marathon

[2016-06-01 12:23] MrMarvin commented on #3406
@dariko the request for the `pkgpanda/active.buildinfo.full.json` seems to be unrelated to the actual architectural flaw of directly accessing mesos-agents. It is the (tbhq extremly hacky) way of deciding if marathon is running as part of a DCOS installation, done by the Marathon-UI.

[2016-06-01 13:15] kamilchm commented on #3954
@meichstedt you could do that before Marathon 1.1 using `Stop` deployment button but you can't do that now because `Stop` was removed :-1:

[2016-06-01 14:18] davent opened #3957 "COMMAND HealthChecks removed on mesos-master restart/issue"
COMMAND Health Checks are being removed (i.e. `INFO Removing health check for app`) and never re-created when something happens to the mesos-master. I have seen this with both a restart of the mesos-master and also under less controlled situations such as a leader re-election or network issues.

To reproduce:

1) Create an App with a COMMAND Health Check
2) Restart mesos-master
3) grep marathon lo

[2016-06-01 14:36] meichstedt commented on #3954
@kamilchm sure, while the underlying api functionality still exists. Stopping a deployment leaves the app and its instances in a somewhat unclear state, as Marathon might end up with both new and old instances depending on the app's deployment strategy. If the deployment affects several apps with dependencies via a group upgrade, it's even more obscured what the resulting state is. It's not someth

[2016-06-01 15:58] ssk2 commented on #3954
@meichstedt -  certainly, this was just a suggestion. I agree that better status reporting would be a significant improvement.

The reason I filed this issue was to enable better automated / continuous deployment using the Marathon API. Currently, without a failed state, the application will continue to deploy indefinitely. For a continuous deployment pipeline to act in an automated fashion, it's

[2016-06-01 18:29] koboltmarky opened #3958 "Elements must be unique"
Hi,

after an update from 0.8.2 to 0.15.5 i can't start/change/delete apps anymore.
I get the following error:

{
    "details": [
        {
            "attribute": "groups[21].apps[0].ports",
            "error": "Elements must be unique"
        }
    ],
    "message": "Object is not valid"
}

syslog from the master:

Jun  1 20:25:37 mesosmaster02 marathon[26546]: mesosphere.marathon.Validation

[2016-06-01 18:33] mlerner commented on #2430
+1

[2016-06-02 00:10] bernadinm opened #3959 "Is it possible to notify the Marathon UI that there are Insufficient resources or other messages?"
Running Marathon 1.1.1:

I have created a sleep101 application in marathon and it is just sitting there in deployments waiting. However from a users perspective marathon is not working, however Marathon is waiting for an acceptable offer from Mesos to launch the application but the user does not know that.

Can we at least place this information in the instances tab where it would rather show

No

[2016-06-02 06:50] kamilchm commented on #3959
Duplicate of https://github.com/mesosphere/marathon/issues/1090 ?

[2016-06-02 06:51] tmmi commented on #3959
It might be response https://github.com/mesosphere/marathon/issues/1090 to your problem.

[2016-06-02 06:56] timoreimann commented on #3820
@kesselborn's comment seems legit. Any thoughts on it, @gkleiman or @aquamatthias?

[2016-06-02 09:35] koboltmarky commented on #3958
Also after updating to 1.1.1 i get:

`{
    "details": [
        {
            "errors": [
                "Ports must be unique."
            ],
            "path": "/groups(27)/apps(0)/portDefinitions"
        }
    ],
    "message": "Object is not valid"
}`

[2016-06-02 11:30] brat002 commented on #3957
Have this problem too.

[2016-06-02 11:31] brat002 commented on #3907
The problem was fixed in last mesos rc.

[2016-06-02 13:03] andlaz commented on #3957
Same issue.

[2016-06-02 16:54] Lax77 commented on #3907
Great, thanks. Is there a link for rc I can download from?

[2016-06-02 17:06] Lax77 commented on #3907
found it Thanks.

[2016-06-03 05:00] Lax77 commented on #3907
I tried with Mesos 0.28.2-rc1. It still seems to have the issue.

[2016-06-03 07:33] iverberk commented on #3899
This really is a crucial issue for us. Right now, we have to work around it with a custom deployment script because we need the readiness checks to be accounted for, even if it's just a config update. Any comments on the status of this issue? Is it a bug or merely something that needs to be implemented?

[2016-06-03 08:05] brat002 commented on #3907
try 1.0.0

[2016-06-03 09:32] anrs commented on #1801
@air I consider that isn't a bug, maybe you just should specify the Accept header to "text/event-stream", just like:

curl -H"Accept: text/event-stream" https://127.0.0.1:8080/v2/events

If you typed like above, you'll receive the events stream.

[2016-06-03 11:52] meichstedt commented on #3899
I don't exactly remember the semantics, but the docs say

Which sounds like the current behavior is not correct. From what I can see by (only quickly) looking into the implementation: using the ReadinessBehavior, the TaskReplaceActor will react to a `HealthStatusChanged` by calling `taskStatusChanged` which will kill the next old task, eventually _before_ the task reported as healthy is also _read

[2016-06-03 12:47] erSitzt commented on #2489
I have the same problem with haproxy health checks.

[2016-06-03 13:08] koboltmarky commented on #3958
Deregister the framework from marathon and delete the zookeeper state "solved" the problem for us.

[2016-06-03 13:08] #3958 closed

[2016-06-03 18:24] andrewkrug commented on #3788
I would second this as a feature I actually need today.  The ability to call docker on a marathon application build and create network overlays at the same time would be handy.  Use cases that come to mind would be launching all containers in an app into an on the fly created calico net.

[2016-06-04 19:00] sivaramsk commented on #3949
Do you mean this -
https://hub.docker.com/r/mesosphere/marathon/~/dockerfile/

On Mon, May 30, 2016 at 10:47 AM, Pierre C. <notifications@github.com>
wrote:

--
ever tried. ever failed. no matter.
try again. fail again. fail better.
        -- Samuel Beckett

[2016-06-04 22:10] pierrecdn commented on #3949
@sivaramsk : no, this Dockerfile is to build marathon.
I wanted to patch **[marathon-ui](https://github.com/mesosphere/marathon-ui)**, then easily build the project and integrate it into a marathon fork.

[2016-06-04 22:13] Lax77 commented on #3907
For 1.0.0-rc1, I don't see packaged rpm available yet. Is there a way I can build an rpm off of the tar file available @ (https://github.com/apache/mesos/releases) for release 1.0.0-rc1?

[2016-06-06 10:54] davent commented on #3957
Some additional information:

When a Mesos Slave drops from the cluster (in the case just witnessed this was due to a faulty EC2 node having to be rebooted) and then rejoins this appears to also cause this issue.

[2016-06-06 12:56] bobrik commented on #3947
I assume it's the same issue: #3304.

[2016-06-06 19:49] bobrik opened #3962 "Deadlock when removing broken apps after upgrade"
I upgraded from v0.15.3 to v1.1.1 and people can't deply their apps anymore:

[code]

When I try to remove the problematic group:

[code]

Then I try to remove new problematic group (same as deployment error):

[code]

People were doing all sorts of nasty stuff because Marathon never validated it before:

[code]

How do I make it work again? I don't mind nuking both `/abc/foo` and `/abc/bar`, but

[2016-06-06 19:59] bobrik commented on #3962
[code]

[2016-06-06 21:21] bobrik commented on #3962
Oh cool, I have 2 instances of `/abc/kafka/foo` in Marathon store. I dropped the failing check and now when I delete `/abc/kafka/foo` Marathon just restarts the app.

[2016-06-06 21:36] bobrik commented on #3962
Okay, looks like I was able to resolve it with my patched Marathon. The issue is still there: Marathon locks itself on upgrade and there's no sane way to fix it.

[2016-06-06 21:38] bobrik commented on #3962
[code]

[2016-06-06 21:39] gkleiman commented on #3728
Fixed in v0.15.x by e8ace92168573927326f64963b73bb6df88dbdd3, we still have to port this fix to 1.x

cc/ @aquamatthias

[2016-06-06 21:40] #3591 closed

[2016-06-06 21:42] SEJeff commented on #3728
@gkleiman In a perfect world, it seems like [this](https://issues.apache.org/jira/browse/MESOS-2533) and [this](https://issues.apache.org/jira/browse/MESOS-3567) are actually better. Doing it this way, would allow not having to have these sort of hacks in marathon proper, and everyone is better off!

What do you think?

[2016-06-07 06:13] wrouesnel opened #3963 "ipAddress and health checks cannot be configured together"
This app definition is rejected:
[code]

with
[code]

on Marathon 1.1.1 installed from RPMs on Centos 7.

Adding portDefinition 's to the docker container, using the "port" parameter under healthchecks, none of them produce any other result, and specifying a top-level "ports" array is disallowed when you have an `ipAddress` element.

It looks like the big problem is that `healthChecks` elements sh

[2016-06-07 07:54] bobrik opened #3964 "Marathon memory grows unbounded"
Marathon 1.1.1, two instances of the same framework (one leader and one failover).

[code]

24h timespan:

<img width="1259" alt="screen shot 2016-06-07 at 08 50 46" src="https://cloud.githubusercontent.com/assets/89186/15849977/44ccbcfe-2c8d-11e6-9d72-8c43eca8b653.png">

Same happened on 0.15.3.

[2016-06-07 07:54] bobrik commented on #3964
[code]

[2016-06-07 08:24] kesselborn opened #3965 "version 1.1.1 returns different JSON response on /v2/deployments"
Sorry to create a new bug, but it's not possible to re-open mesosphere/marathon#3820 . Please see [this comment that describes why the bug is not fixed yet](https://github.com/mesosphere/marathon/issues/3820#issuecomment-222201282).
The problem is, that -- contrary to the documentation -- the response in version 1.1 changed in the following way:

[code]

I guess it's a bug in the implementation an

[2016-06-07 15:58] timcharper commented on #3591
Sorry for slow response.

I'm not using Mesos to assign unique IPs, but doing it through the docker plugin, Weave. When I look at the mesos task details, from within the Marathon UI, I see the Weave IP address assigned to the docker container. However, I am compelled to use port forwards for all health checks.

[2016-06-07 16:09] jmlvanre commented on #3964
@bobrik Would you be able to check if this is still the case if you use a version of libmesos that includes:
[code]

[2016-06-07 17:46] magcius opened #3966 "Error restarting Application: [object Object]"
We have been seeing this bizarre issue when trying to restart certain services. There seems to be no rhyme or reason to which services give the error, but we have to scale to 0 and then back up to 1.

Screenshot:
![Screenshot](https://cloud.githubusercontent.com/assets/40890/15868509/038d45c8-2c9d-11e6-87d8-5e2d1fa88f49.png)

**Version**: 0.15.2

Additional information just in case:

![additional

[2016-06-08 01:59] shijinkui opened #3967 "change build.scala to build.sbt"
move build.scala to root build.sbt

[2016-06-08 17:34] djosborne commented on #3907
@brat002 I'm not aware of any change to Mesos related to this issue. Do you have a JIRA reference for something related? I believe this is a mesos-version independent issue with Marathon.

[2016-06-09 10:38] vlombardi commented on #3725
Hi,
I had the same problem and solved from ZooKeeper (Exhibitor) deleting the nodes \marathon\leader\member-N, where N was related to all non-leader hosts.

ZK then correctly recreated them automatically.

In my case the problem was raised by temporary network unreachability of hosts...

Hope this can help others.

Regards

[2016-06-09 13:01] wrouesnel commented on #3907
We're having this issue too, mixed in with a whole lot of bizzare configuration rejections I've filed separately.

[2016-06-09 15:37] davent opened #3969 "Only 1 Health Check pass required to be "healthy""
If you specify multiple COMMAND health checks for an app then the said app will be marked as 'healthy' even if one of the checks fails.

This can be replicated by creating a task with 2 or more COMMAND health checks. Edit one check to purposefully fail. The app should restart and will come back up as healthy. If you make all the checks purposefully fail then the app will restart as unhealthy.

[2016-06-09 16:45] jgarcia-mesosphere opened #3970 "Invalid constraint value * allowed"
Users have noticed that when using the regex constraint `*`  can be accepted in the UI or a REST post, but can cause unexpected results in the matcher:

[code]

Using a value of `.*` provides the desired outcome in a deterministic fashion.

[2016-06-09 16:54] jdef commented on #3970
marathon should validate the regexp at app create/update time and reject apps with constraints that use invalid regex

[2016-06-09 17:11] Lax77 commented on #3907
I have tried picking up 1.0.0-rc1 of Mesos and started seeing ZK time out errors. Initially thought it could be my marathon version (marathon-0.15.3-1.0.463.el7.x86_64) and upgraded that too to the latest (marathon-1.1.1-1.0.472.el7.x86_64). Still running into ZK time out issue.

[2016-06-10 09:23] vixns opened #3972 "network/cni support"
The upcoming mesos 1.0.0 adds the network/cni isolator, see http://mesos.apache.org/documentation/cni/.

To support this, marathon have to manage the `NetworkInfo.name` , which is the cni network name.

a state from a mesos-agent running a mesos container with cni isolator
[code]
For the health checks, the state provide the container IP.

Does the network name should be part of the `portsDefinitio

[2016-06-10 13:13] strzelecki-maciek commented on #344
+1 much needed feature imho.
Run arbitrary command in the same "context" as the defined app (same env, same docker image etc),
a.) allow to specify if the N instances of the deployed task can be spawned in parallel with this command or shortly after it finishes.
b.) Configured timeout on the command would be a nice addition too.

Use cases - cache warming, pre-start cleanup of some distributed ser

[2016-06-11 14:50] BostonDriver commented on #3788
I looks like this is also needed for mesos unified containers as well as docker.

[2016-06-11 16:23] mhausenblas opened #3978 "Detailed docs on labels"
We don't really explain what labels are and how to use them. ATM, they are only mentioned on an [outdated page](https://mesosphere.github.io/marathon/docs/rest-api.html). As a reference, see how [Docker](https://docs.docker.com/engine/userguide/labels-custom-metadata/) and [K8S](http://kubernetes.io/docs/user-guide/labels/) address this in detail.

[2016-06-12 03:27] shijinkui commented on #3838
os manage the service will be the right thing, such as building  rpm.

[2016-06-12 13:04] nickvth opened #3980 "Mesos 0.28.2 and Marathon 1.1.1 issue with mesos_role"
I have an issue with roles

Mesos_slave is set to default_role test
Mesos-slave is recognized  by mesos-master
Marathon is set with mesos_role test

Following deployment is not working, marathon deployment waiting
{
  "id": "test",
  "instances": 1,
  "cpus": 0.1,
  "mem": 64,
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "nginx:lastest",
      "network": "BRIDGE",
      "p

[2016-06-12 14:47] nickvth commented on #3980
After restart mesos master, the problem not exists anymore.

[2016-06-13 10:00] alaa commented on #2414
+1

[2016-06-13 10:21] timcharper commented on #3591
I looked in to the `ipAddress` setting. It's ignored / dropped for docker containers; I can't even set it.

If I could set it, then I believe it would do have the effect I wanted, although it'd be a hack. Better to create a docker network mode which causes it to be respected... `managed` ?

[2016-06-13 10:28] timcharper commented on #3591
Oh, it looks like I can bypass the UI and set this directly (I thought it'd be sufficient to edit the JSON params)

[2016-06-13 10:36] timcharper commented on #3591
The API does not seem to allow me to specify a health check, still:

Running:
[code]

output:

[code]

[2016-06-13 13:54] jasongilanfarr commented on #3967
As stated in the PR, we do prefer the .scala edition over the .sbt edition of the build. If there is a highly compelling reason to move over to the .sbt edition, please reopen.

[2016-06-13 13:54] #3967 closed

[2016-06-13 14:11] brat002 commented on #3957
Does any plans to fix it? Marathon is unusable in real production infrastructure without health checks.

[2016-06-13 14:17] lbjworld commented on #3938
I got the same problem ... any solution ?

[2016-06-13 14:34] shijinkui commented on #3967
hey @jasongilanfarr ,thank for review. At the newer sbt version, build.sbt is the recommended style, support multi-project.

http://www.scala-sbt.org/0.13/docs/Full-Def.html

[2016-06-13 15:17] jdef commented on #3970
re-opening because the full fix (validation in marathon) has not yet been merged

[2016-06-13 16:54] xperimental commented on #2414
Can you please stop adding "+1" posts? Please use reactions instead.

[2016-06-14 12:15] hdep opened #3983 "Marathon doesn't install on Debian 8.5"
Hello,

I am following the tutorial from : https://open.mesosphere.com/getting-started/install/

When I want to install marathon package it is looking for :
marathon : DÃ©pend: java8-runtime-headless mais il n'est pas installable

There is no java8-runtime-headless package available on Debian.

Regards,

[2016-06-14 13:39] jlferrer commented on #3983
This is not related to marathon,

you have to add jessie-backports apt sources:

- https://backports.debian.org/Instructions/
- https://packages.debian.org/jessie-backports/java8-runtime-headless

[2016-06-14 15:15] SEJeff commented on #1847
For any non-dcos users, this [ldap plugin](http://jbu.io/2016/04/19/securing-mesosphere-marathon-using-the-marathon-ldap-plugin/) seems to be targeted at the new marathon plugin api.

[2016-06-14 15:52] timcharper commented on #3963
@wrouesnel when the referenced change gets released (1.2.0 I think is the next release), this should will be possible via the API.

You'll need to specify your health check using `port` rather than `portIndex`; and, don't specify portDefinitions altogether.

In docker land, the `ipAddress` content I believe is ignored.

[code]

I recommend that this issue be closed.

[2016-06-14 16:44] cmluciano commented on #3962
We are seeing the same error under the same upgrade conditions. New and existing apps are stuck in this locked state.

[code]

[2016-06-14 16:49] cmluciano commented on #3962
Rolling back to the 0.15.3 masters works for a bit, but they everything gets redeployed after 5 minutes or so

[2016-06-14 17:46] kopax commented on #2101
Is this fixed  ?

[2016-06-14 22:18] gkleiman commented on #2101
@kopax not yet

[2016-06-14 22:19] #3983 closed

[2016-06-15 02:45] Sun-zhe commented on #3795
Hi, folks, Does anyone know what's going on right now? I'm interested in Marathon support GPU, who is working on it?

[2016-06-15 05:42] kopax commented on #2101
Will it be fixed ?

[2016-06-15 07:15] Sun-zhe opened #3984 "Marathon GPU resource support"
Since Mesos-0.29 and 1.0 have already supported Nvidia GPUs, I am looking forward to that it happens to Marathon.
Now I can find the code of GPU only in `./src/test/scala/mesosphere/mesos/ConstraintsTest.scala`, from the path, it seems it's only for test. And can not find any other GPU code in other files.

Does anyone know the progress of GPU in Marathon?

[2016-06-15 07:26] Sun-zhe commented on #3795
Since Mesos-0.29 and 1.0 have already supported Nvidia GPUs, I am looking forward to that it happens to Marathon.
Now I can find the code of GPU only in `./src/test/scala/mesosphere/mesos/ConstraintsTest.scala`, from the path, it seems it's only for test. And can not find any other GPU code in other files.

Does anyone know the progress of GPU in Marathon?

[2016-06-15 07:42] liyubobj commented on #3795
I and @klueska are working on this now. The main function is ready, and I'm still working on the testing code and code review process. Will no long time for GPU landing to Marathon:)

[2016-06-15 08:04] #3984 closed

[2016-06-15 09:29] DaedalusX commented on #3795
I'm very much interested in this feature support and have a machine with dual Titan X that I would be willing to test on if you need a multi-GPU test env.

Also, perhaps unrelated to this specific item but is there any work being done to support images built for nvidia-docker?

[2016-06-15 09:39] liyubobj commented on #3795
The mesos docker containerizer GPU support is still on-going, @klueska could give you more details.

[2016-06-15 10:25] #3926 closed

[2016-06-15 22:30] raghu999 opened #3985 "Marathon Should Automatically Stop Re-Deploying the App if there is a error in Docker Image Name"
Hello Mesosphere Team,
      Really Appreciate Your work on Mesosphere. We noticed that while deploying an app in Marathon if there is an error in Container settings like Image name Marathon will try to redeploy the app Continuously is there a way we can make Marathon to stop Redeploying and Error-Out.

[2016-06-16 09:24] #3970 closed

[2016-06-16 09:34] jasongilanfarr commented on #3985
Duplicate of #3954

[2016-06-16 09:34] #3985 closed

[2016-06-16 09:41] mendrugory opened #3987 "Marathon does not stop the launched app"
Hi,

I am using Marathon to launch my docker containers through the rest API. I am using Mesos-DNS as service discovery and in order to let it know to the docker container I am launching the container using the command in order to be able to use the --dns option. (Is there any way of adding a DNS  to a docker container using the container option of Marathon?)

`curl -XPOST 'http://my_marathon:8080

[2016-06-16 13:59] mendrugory commented on #3987
I faced this problem because I was launching a docker container using the command option in order to add it a DNS. I have found a workaround in order to avoid this problem:

`curl -XPOST 'http://my_marathon/v2/apps' -H 'Content-Type: application/json' -d '{
    "id": "my_app",
    "container": {
        "docker": {
            "image": "my_app",
            "network": "BRIDGE",
            "parame

[2016-06-16 14:42] jasongilanfarr commented on #3987
Docker is natively supported using the container construct and should generally not be run through the "cmd" style.

[2016-06-16 14:42] #3987 closed

[2016-06-16 15:46] andrebeat commented on #3969
This has already been reported before #1445.

[2016-06-16 16:14] raghu999 opened #3990 "Marathon 1.1.1 Health Checks are Failing intermittently"
Hello,
    We have a issue where we see our app health checks are failing intermittently when the slaves are re-registered or the masters are restarted. Is there a Known issue in 1.1.1.

[2016-06-16 23:30] jmlvanre opened #3991 "Allow Marathon to suppress offers when there is nothing to launch"
Mesos introduces the `suppressOffers` call in 0.25.0. This call tells Mesos to stop sending further offers to the framework until it calls `revive`.
This alleviates pressure on the allocator, and acts as an infinite filter on all agents until `revive` is called, reducing the amount of work Marathon has to do when it wants to be in an idle mode.

[2016-06-17 01:49] magcius commented on #3966
I found some slight information on what's going on here.

We first PUT to `v2/apps//db-build-ingest-simple-image-worker/restart`. This causes a 301 Moved Permanently to `v2/apps/db-build-ingest-simple-image-worker/restart`. But the semantics of 301 is that the new request is made as a GET, not as a PUT. The server returns 405 Method Not Allowed for the new GET, and the client code doesn't know wha

[2016-06-17 12:02] #3515 closed

[2016-06-18 08:57] jeacott1 commented on #2424
+1

[2016-06-18 11:19] fiskl opened #3999 "Can configure multiple apps to use the same service port"
When using JSON mode to set the service port it is possible to use the same service port as an existing app.

No errors are shown, and there is indication in the UI that a problem exists.

[2016-06-19 08:02] vixns commented on #3972
fixed by #3974

[2016-06-19 08:02] #3972 closed

[2016-06-20 04:58] hotstepper13 opened #4000 "leader election fails after network degration"
Hey guys,

in some environment we use a multi master setup with 3 nodes. Sometimes we have nightly network performance degration where the response times went up and we can see that connections are closed. While our Infrastructure provider is analyzing this issue, we see that marathon loses the awareness of its leader state. The Mesos Stack is running fine and recovered from the network degration.

[2016-06-20 08:58] adam-mesos commented on #1594
Looks like this finally made it into a MESOS JIRA: https://issues.apache.org/jira/browse/MESOS-5482

[2016-06-20 10:22] liyubobj commented on #3795
Test cases done.

[2016-06-20 15:30] #3991 closed

[2016-06-20 15:48] gkleiman opened #4005 "Also create 'PORT_<NAME>' env variables for ports defined in port mappings"
Right now, `PORT_<NAME>` env variables are only added for ports defined in `portDefinitions`, but not for ports defined in `portMappings`.

cc/ @jdef @jasongilanfarr

[2016-06-20 16:20] #3924 closed

[2016-06-20 16:20] #3942 closed

[2016-06-20 17:48] fceller opened #4007 "Feature Request: Hook for Shutdown of Frameworks"
When a framework is shutdown, that has created persistent volumes or made dynamic reservation, it should be possible, that a hook of some sort is called, so that the framework can cleanup (ie. unreserve the dynamic reservations, free the persistent disks).

What can happen is, that the user sees the ArangoDB in Marathon and there is a "destroy" this will shut down the framework without giving it a

[2016-06-20 17:50] air commented on #712
The new Mesos 0.29 KillPolicy was just added to Marathon, so you can specify how long in seconds Marathon will wait after sending a SIGTERM, before killing the process. See https://github.com/mesosphere/marathon/commit/4a6cd7afe66c91741d835a55933da67b72c331de

[2016-06-21 09:01] gkleiman commented on #3742
Fixed by 01d822ec64319922e3d9d68305317b5faccbc289

[2016-06-21 09:01] #3742 closed

[2016-06-21 09:03] gkleiman commented on #3969
Closing as a duplicated of #1445.

[2016-06-21 09:03] #3969 closed

[2016-06-21 09:19] janisz commented on #2414
This is blocked by #2382 for more details see [MESOS-2063](https://issues.apache.org/jira/browse/MESOS-2063)

[2016-06-21 13:00] tmjd commented on #3716
With the recent release of Mesos 1.0.0-rc1 is there any work being done on supporting the Mesos containerizer for docker images?  I don't believe it will be considered experimental that that point.  If no work is being done yet, are there plans to begin work on this feature?

[2016-06-21 13:02] meichstedt commented on #712
Just to clarify @air's comment: _you can specify how long in seconds **the executor** will wait after sending a SIGTERM, before killing the process._ If someone uses a custom executor, it's up to that executor's implementation to handle the grace period.

[2016-06-21 13:03] polym opened #4009 "Command line flag --hostname seems not working any more in v1.1.1"
start marathon with command below
[code]

marathon logs

[code]

[2016-06-21 14:22] okuryu opened #4010 "Feature request: Non-UI (API only) mode"
I'm running Marathon with an own Marathon authentication plugin. The plugin requires HTTP header to authenticate from clients. In this situation, if I try to open Marathon UI in my browser, Marathon UI returns errors to failed fetch apps data because my guess that Marathon UI calls Marathon API to fetch data and Marathon API requires authentications by the plugin, right?

In this case, if Marathon

[2016-06-21 15:08] lloesche opened #4011 "`"acceptedResourceRoles": [""]` is not being caught"
I can provide `"acceptedResourceRoles": [""]` and it's not caught in Marathon, while `"acceptedResourceRoles": []` is.

[2016-06-21 15:43] jasongilanfarr opened #4012 "Migrate to Kamon Metrics"
Particularly beneficial:
- HdrHistogram by default
- Built-in Akka Metrics
- TraceContext

I would really like to be able to attach a TraceID to every request and be able to see all log statements (whether via actors, futures, etc) related to a request have an MDC traceid associated with them.

As a secondary benefit, we could also expose a way to enable the different metric writers for customers

[2016-06-21 17:30] gkleiman opened #4013 "Add log rotation to the Marathon Docker container"
Marathon logs are currently not being rotated. We've already seen user switching the logging level to WARN in order to prevent Marathon from running out of space. This makes it very hard to debug issues.

Marathon's Docker container should ship with log rotation set up out-of-the-box.

[2016-06-21 18:20] andrewkrug commented on #3788
Any one have anything to report on asking for this feature?  I've got to write an interface for this and I'd love to find a workaround.

[2016-06-21 19:34] nickyleach opened #4014 "Apps Remain Over Capacity"
Noticing that with a deployment it's fairly common for an application to get "stuck" running above capacity. This is kind of a drag, but especially frustrating because it leaves the app in a perpetual "Deploying" state.

![screen_shot_2016-06-21_at_10_25_33_am](https://cloud.githubusercontent.com/assets/331803/16242564/d13c86a4-37a7-11e6-91c0-f2f986e04289.png)

I'm also seeing messages that follow

[2016-06-22 01:56] polym commented on #4009
using `LIBPROCESS_IP` solve it.

[2016-06-22 01:56] #4009 closed

[2016-06-22 08:16] vkhatri commented on #846
+1

[2016-06-22 08:49] kamilchm commented on #1090
@air any thoughts?

[2016-06-22 09:21] bobrik opened #4015 "Can not retrieve the list of running deployments in time in v1.2.0-RC1"
[code]

I also can't deploy anything. This happened ofter 1.1.1 -> 1.2.0-RC1 migration.

[2016-06-22 13:35] kensipe commented on #4011
@lloesche when you say "not caught" does that mean that marathon ignores it?

[2016-06-22 13:48] kensipe commented on #4015
hey bobrik,

Thanks for the feedback.  Which mesos version are you using?
Mesos 1.0 is required.  We didn't announce this release as Mesos 1.0 isn't available however we testing against the RC release for 1.0.

ken

[2016-06-22 14:01] bobrik commented on #4015
I'm on 0.27.2. I can't test mesos 1.0.0 locally, btw:

[code]

[2016-06-22 14:23] air commented on #1242
Copying from [marathon-framework post](https://groups.google.com/forum/#!topic/marathon-framework/fKj-L884B60):

The next release is mostly planned at this point, so this feature would be a couple of months out realistically.
We'll be publishing a roadmap shortly to help make this transparent.

Two things in the interim,
1. I would love to know if the [workaround suggested here is workable](https:

[2016-06-22 14:40] aquamatthias commented on #3716
@tmjd we are currently working on supporting the Mesos universal containerizer.

[2016-06-22 14:45] aquamatthias commented on #4015
I can reproduce the same behavior when using mesos < 1.0-RC1

[2016-06-22 14:47] aquamatthias commented on #4015
@jmlvanre can you help with the Mesos docker image?

[2016-06-22 14:57] lloesche commented on #4011
Instead of throwing an error it accepts the invalid role name.
What I saw was a user trying to remove the default role of the marathon-lb Docker container slave_public by setting it to an empty string ''. However this didn't have the desired behaviour (what he needed was '*'). But instead of getting an error his invalid config was accepted and the task got stuck in waiting since Marathon never rec

[2016-06-22 15:03] air commented on #1090
Good feedback @kamilchm @tmmi, thanks for that. I'll review with the design team.

[2016-06-22 15:11] karya0 commented on #4015
@bobrik @aquamatthias: I just pushed updated docker images that fix this dependency issue. Please use the `1.0.0-rc1` (`1.0.0-1.0.59.rc1.ubuntu1404`) docker tag to get the updated images

[2016-06-22 15:36] karya0 commented on #4015
@aquamatthias: How are we invoking the master/slave docker images. As in what parameters are we supplying? Do we supply any `--ip` flag to the master? Also, we need to supply `--master` flag to the slave so wondering how are we doing this?

[2016-06-22 15:53] bobrik commented on #4015
Oh boy.

[code]

[2016-06-22 16:04] bobrik commented on #4015
I think marathon should exit right after this exception:

[code]

[2016-06-22 16:20] aquamatthias commented on #4015
@bobrik Ye I agree, this is the original problem...

[2016-06-22 18:53] cheuschober commented on #3716
@aquamatthias For those of us who aren't in a position to wait for an official implementation and are likely to fork to support it, is there a branch that is acting as a reference for this feature?

[2016-06-22 19:23] karya0 commented on #4015
@aquamatthias: It looks like the new docker images fix the dependency information. Can you please confirm that this is the case? Please ping me if you need any help on Mesos side of things!

[2016-06-23 10:56] kensipe commented on #4011
thanks!  we are working on a solution!

[2016-06-23 17:02] djosborne opened #4024 "Marathon 1.2.0-rc Docker Images Broken"
The docker images for both `mesosphere/marathon:v1.2.0-rc1` and `mesosphere/marathon:v1.2.0-rc2` are broken. `mesosphere/marathon:latest-dev` as well.

rc1 and latest-dev fail when launching an application with the message: `java.lang.UnsatisfiedLinkError: Mesos JAR version 1.0.0-rc1 is not backwards compatible with Mesos native library version 0.28.2`

rc2 fails on start with the message: `Failed

[2016-06-23 17:08] djosborne commented on #4024
Reason is likely that 0.28.0 is installed in the Dockerfile: https://github.com/mesosphere/marathon/blob/master/Dockerfile#L18

Are you folks waiting for an official cut of 1.0.0? Or should I open up a PR to make the Dockerfile match Dockerfile.development which uses `mesos=1.0.0-1.0.52.rc1.debian81`

[2016-06-23 21:10] sathee005 commented on #3407
@natemurthy  From your screenshot I can see that you are using ec2 instance. By default mesos ui redirects the request to slave on clicking the sandbox logs instead of proxying the request . Since your instance is in private subnet you may be not able to connect directly from your browser to slave's private ip . So you are seeing the above error your network is not acessible.
Regarding abnormal ex

[2016-06-23 22:52] njappboy commented on #3953
@jitendraky You might want to try using `mesos-resolve` to determine the leader via zookeeper:
[code]

[2016-06-24 01:05] iannickb commented on #2754
+1

[2016-06-24 10:22] kensipe commented on #4024
rc1 and rc2 were "soft" releases (unannounced) as we transition to Mesos 1.0.   It requires the latest version of mesos.  You can find details here: https://github.com/mesosphere/marathon/issues/4015

We are waiting on the Mesos release... which should be shortly.

[2016-06-24 10:57] kamilchm commented on #3985
I don't know why the STOP button should be considered harmful as it was stated in https://github.com/mesosphere/marathon-ui/pull/739?
I work with many new Marathon users and they don't know what to do when their app fails with new version. They want to stop any actions to make app in the known state and work it out themselves because they know what to do better than Marathon in cases where simple

[2016-06-24 12:56] kiwenlau opened #4028 "Marathon remains "Deploying" status when container has already deployed"
When I deploy nginx with following JSON definition:

[code]

2 instance of nginx containers start immediately because I have pulled nginx image. I can find that nginx containers are running and I can visit nginx through browser. However, the marathon UI shows that the nginx application is still "Deploying". After about **60 seconds**, its status change to "RUNNING".

I found this is related to **h

[2016-06-24 14:54] b0e commented on #3951
I think this is not possible, yet. This would be very useful for me, too. What is needed to convert this into a feature request?

[2016-06-24 20:21] nathanjackson commented on #344
+1

[2016-06-24 20:36] njappboy commented on #3791
@rupamroy I'm assuming you got past this issue. I ran into as well and @aquamatthias hit the nail on the head for me.  I was previously working with DC/OS v1.7 which OOTB set Marathon application defaults to CPU usage of 0.1. When working through the [https://open.mesosphere.com/advanced-course/using-the-marathon-gui/](https://open.mesosphere.com/advanced-course/using-the-marathon-gui/) tutorial I

[2016-06-25 11:52] bobrik commented on #4015
1.2.0-rc2:

[code]

[2016-06-25 11:54] bobrik commented on #4024
@kensipe does "soft" mean "definitely not working"? I don't see why not change base image to RC mesos for RC marathon.

[2016-06-25 12:05] aquamatthias commented on #4015
@karya0 The native Mesos package does not resolve dependencies correctly. Can you acknowledge? Is there already a Jira for this or should I create one?

[2016-06-27 07:26] neerajgoel82 commented on #1460
As per my understanding, we can start marathon with single role only (specified as mesos_role flag). Can we supply multiple mesos_roles at the beginning like role1, role2 ... roleN and specify each job to be run as one of these roles?

[2016-06-27 07:35] adam-mesos commented on #1460
The first words of this ticket are "In the future," which links to https://issues.apache.org/jira/browse/MESOS-1763 which is still unresolved.
Latest news is that we're investigating hierarchical roles in addition to just a flat list per framework.

[2016-06-27 13:43] karya0 commented on #4015
The Marathon HEAD should be using the updated Mesos package `mesos=1.0.0-1.0.59.rc1.debian81` (which fixes libevent dependency)  instead of `mesos=1.0.0-1.0.52.rc1.debian81`.

[2016-06-27 14:00] #3527 closed

[2016-06-27 20:04] ajays20078 opened #4033 "API call for moving a task/instance into and out of draining state."
Is there a API call to move individual task/instance into draining state, this is required to wait for connection drianing before deleting the instance. Similarly is there a API call to move a individual task out of the draining state into UP/DOWN state?

[2016-06-28 09:48] marcomonaco commented on #4033
If you call the API with 'POST /v2/tasks/delete` or `DELETE /v2/apps/<appId>/tasks/<taskId>' there is a fixed time of 3 seconds before a task get killed by the executor.

Beginning with Marathon 1.2 we will have the possibility to set the time individually with 'taskKillGracePeriod'. See here: https://github.com/mesosphere/marathon/commit/4a6cd7afe66c91741d835a55933da67b72c331de
If you enable the

[2016-06-28 12:40] gkleiman opened #4039 "Deployment gets stuck killing tasks that are lost"
During the a deployment, Marathon should expunge lost tasks instead of trying to kill them.

Right now Marathon keeps trying to kill the lost tasks, resulting in a stuck deployment:

[code]

[2016-06-28 12:43] meichstedt commented on #4039
The StoppingBehavior would actually consider a TASK_LOST as finished, but if the task  was lost prior to the delete request, the `PostToEventStreamStepImpl` will not publish an event when receiving a TASK_LOST in response to a kill request, because the task state didn't change … so the StoppingBehavior won't receive an event and will try again and again.

(Note: we'll probably have similar issues

[2016-06-28 12:51] jasongilanfarr opened #4040 "LeaderIntegrationTest:the tombstone stops old instances from becoming leader is unstable"

[2016-06-28 14:42] sahlex commented on #3895
I'm experiencing the same issue. Any cure?

[2016-06-28 16:58] kensipe commented on #3957
@davent @brat002 @andlaz  Thanks for the report.  After some review, It looks like it may be an issue with Apache Mesos.   Command health checks are reported differently than other health checks in Mesos.  They are received via a task status update.   If you look at the implementation in Mesos:  https://github.com/apache/mesos/blob/master/src/health-check/main.cpp#L135-L137
Updates are only sent:

[2016-06-28 17:26] krestjaninoff commented on #3866
I have the same problem running 1.1.1:

[code]

Stopping all (3) the marathon instances and starting them one by one solves the problem.

[2016-06-28 18:32] benpillet commented on #1801
@anrs it is a bug because "Accept: */*" includes text/event-stream as an acceptable response.  I just ran into this myself.  If I tell someone I'll accept anything, they should tell me their response in any format they like, including text/event-stream.  They shouldn't say "you need to ask me more specifically"

[2016-06-29 07:51] kensipe commented on #4013
@gkleiman I'm new to the project so I could be missing something.  It looks like marathon's logging uses `logback`.    It would be easy to setup a rotation HOWEVER it also appears that marathon logs everything to `stdout`.     we would need to convert this to a file based model if this is the case.

[2016-06-29 07:55] kensipe commented on #4005
It looks like https://github.com/mesosphere/marathon/pull/4008 fixes this.  can we close this @gkleiman ?

[2016-06-29 08:54] gkleiman commented on #4005
There's still a TODO in the code, so we might not be generating the named env vars in all cases:

https://github.com/mesosphere/marathon/blob/master/src/main/scala/mesosphere/mesos/TaskBuilder.scala#L420

[2016-06-29 09:05] gkleiman commented on #4013
@kensipe Marathon's current logs are too verbose, and given that it logs to stdout, some users have to change the logging level to WARN to avoid running out of space. This makes it very difficult to debug issues.

I think that the right solution would be to add a logback configuration to the container, that uses file logging + rotation.

This ticket only mentions the Docker container, but we shoul

[2016-06-29 09:14] jasongilanfarr commented on #4013
I personally don't agree with this issue and I don't think the correct
resolution is within our container. Instead, I believe that the logs should
defer to however docker is configured. So if you're deploying marathon in
production without DCOS we may want to give some recommendations for
production logging (maybe even writing a Kafka logback appender that can be
turned on via config to integrate

[2016-06-29 10:12] kensipe commented on #916
This is a duplicate of an issue being worked on:  https://github.com/mesosphere/marathon/issues/3957

Closing this issue!

[2016-06-29 10:12] #916 closed

[2016-06-29 11:38] #4033 closed

[2016-06-29 11:39] #3963 closed

[2016-06-29 11:39] kensipe commented on #4028
Thanks for the report @kiwenlau I've looked into this and here is a quick report:

There are 2 things invoked here health and deployment.     From a health perspective, there are currently 3 states possible (healthy, unhealthy and unknown).   As you indicated, it is correct that a health check does NOT start until after the `internalSeconds`.  Prior to that, a task can be "deployed" and be running

[2016-06-29 12:19] kensipe commented on #4028
As a quick confirmation if using dcos with the first json provided ( 60 sec health checks).

[code]

[2016-06-29 12:32] kiwenlau commented on #4028
Thx. I agree that:

As soon as the container is running, the status should change from "Deploying" to "Running", while the health check can remain "unknown" until it get feedback.

[2016-06-29 12:58] kensipe commented on #4028
@kiwenlau and @leemunroe I've learned more since my initial comment.  It turns out that there is a `DEPLOYMENT` status of `scale` which is returned until the health check is complete when health checks are provided.   This looks like a fairly simple change to resolve.  I'll schedule this fix for the next release `1.3.`.   This is not a UI issue as shown in the dcos commandline output:

[code]

Det

[2016-06-29 13:36] sahlex commented on #3895
In marathon logs I see a message about insufficient resources, but I cannot see why it's not matching the host...

Jun 29 14:27:22 mesos.brodosmit.de java[12954]: [2016-06-29 14:27:22,297] INFO Offer [81052672-ba9f-41fa-99c7-d201bea54455-O268]. Insufficient resources for [/marathon-lb] (need cpus=0.5, mem=256.0, disk=0.0, ports=([88, 8443, 9090, 9091] required), available in offer: [id { value: "8

[2016-06-29 14:18] Morsicus commented on #4024
mesosphere/marathon:v1.2.0-rc3 pushed on docker-hub yesterday. Looks like this version fix your issue.

[2016-06-29 14:56] gkleiman commented on #4040
Duplicated of #3912

[2016-06-29 14:56] #4040 closed

[2016-06-29 15:12] bobrik commented on #4024
Yeah, I updated mesos-compose a few hours ago: https://github.com/bobrik/mesos-compose/pull/14

[2016-06-29 15:26] #4024 closed

[2016-06-29 17:21] jasongilanfarr commented on #4011
I believe we need to add a validation to ensure `for all resource roles, the value is non-empty`

[2016-06-30 08:09] neerajgoel82 commented on #1460
Sorry I missed the link.

Thanks a lot for sharing the update. Looking forward to this feature.

[2016-06-30 08:36] Difrex commented on #2547
Add --ip <local_ip> otion to your docker daemon

[2016-06-30 09:11] janisz opened #4046 "Delete (rollback) deployment is dangerous"
Let's consider situation when application is running and is healthy. Let the deployment be scheduled. New version of app cannot be started (for whatever) reason. Then user delete the deployments (by clicking rollback in UI or just sending DELETE on endpoint without force). Let assume that app cannot be redeployed (e.g. artifact is unavailable). After this procedure user end up with 0 running insta

[2016-06-30 09:24] kamilchm commented on #3954
Current UI with only one **Rollback** buton that can kill all running apps as described in https://github.com/mesosphere/marathon/issues/4046 can be much more dangerous than previous **Stop** button. In fact it lead us to an outage today by killing all our task that were doing fine before calling **Rollback** :(

[2016-06-30 12:22] #2547 closed

[2016-06-30 13:10] BenHall commented on #3895
I had the same issue and I believe I've resolved it. In the JSON for Marathon-LB it has an acceptedResourceRoles node. Once I removed that I could deploy the LB.

[code]

[2016-06-30 14:22] meichstedt commented on #3985
@kamilchm Consider a deployment that affects a group with several apps (A, B, C). If you try to change the configuration of one of the affected apps (e.g. app B), it will fail because there's _a deployment_ in progress. If you choose to force-stop that deployment, deploying new versions for apps A, B and C will be stopped, leaving the cluster in an unclear state. (e.g. no instance for A because al

[2016-06-30 14:24] meichstedt commented on #4046
Hi @janisz, thanks for reporting this.

I'd be interested in your thoughts (and the opinion of others as well, of course): which options exactly would you expect here? As described in #3954, I don't think that a rollback or even an automatic rollback are valid options in this scenario. So instead of defining what we would expect _when rolling back a deployment_, I'd rather tackle the question _wha

[2016-06-30 15:08] kamilchm commented on #3985
When you use rolling upgrade with health checks you wont affect you service then and leave all old instances untouched. This is the difference between force-stop and rollback. Rollback will kill your old instances and try to bring it back even when they are ok after failed deployment. Although we can treat it as a bug in rollback functionality and make sure that rollback wont kill tasks that have

[2016-06-30 15:13] kamilchm commented on #4046
4. don't kill running task that was started from the same version that you try to rolllback?

[2016-06-30 15:29] janisz commented on #4046
Internally we implemented stop deployment in our CI when deployments takes more time than expected. Unfortunately it was possible to rollback deployment from API/UI so we decided to rewrite `DELETE  /v2/deployments/[0-8a-b-]` → `DELETE  /v2/deployments/[0-8a-b-]?force=true`.

I'm not a fan of making the deployment fail. The criteria could vary between applications e.g., different timeouts. I'd rat

[2016-06-30 18:13] timcharper opened #4051 "Critical error with Marathon-UI causing surprising docker parameter loss"
We have Marathon 1.1.1 deployed and are experiencing an issue with Marathon-UI in which Docker parameters are wiped out if the docker container name is momentarily deleted. Worse, it does it in a hidden way, such that is not visible unless if you switch to JSON mode.

http://screencast.com/t/VWiGvN8vR

[2016-06-30 18:15] timcharper commented on #4051
This was actually reproduced with a build which included Marathon UI 1.2.0-SNAPSHOT. I'm testing to confirm if it exists in Marathon-UI 1.1.3 right now

[2016-06-30 20:24] timcharper commented on #4051
I've confirmed that this bug exists with the latest build of Marathon (built from 668695f9)

[2016-06-30 21:03] djosborne opened #4053 "Marathon Version difficult to see in "About""
![screenshot from 2016-06-30 14-01-51](https://cloud.githubusercontent.com/assets/3444362/16504163/62a32b28-3ecb-11e6-8803-305c2b23ed18.png)

Very hard to see the grey on blue

[2016-06-30 21:09] djosborne opened #4054 "Can't specify discovery info for Docker User Network"
Trying to launch the following application JSON yields the error: `/ipAddress: ipAddress/discovery is not allowed for Docker containers using BRIDGE or USER networks`:

[code]

Why is discovery info blocked for Docker User networks?

[2016-06-30 21:42] djosborne commented on #3907
Managed to get what I believe is a repro of the described situation.

The container IP usually shows up in `state.json` at `frameworks.<marathon>.tasks[x].statuses[x].container_status.network_infos.ip_addresses`. @Lax77 can you confirm this is the field you were looking at as well?

To repro the problem, I launched a docker task on a network I hadn't yet created. This will make tasks fail to launc

[2016-06-30 22:51] timcharper commented on #4051
The cause is here:

https://github.com/mesosphere/marathon-ui/blob/701ca80041917bc4fec0ab3ccfa160f0826af544/src/js/stores/transforms/AppFormModelPostProcess.js#L36

I understand why this code exists, but there are two problems:

- The post process trigger updates a state tree that is not visible to the user (it seems unfortunate that there are two independent representations of the state here).
-

[2016-07-01 03:08] Lax77 commented on #3907
@djosborne  Sorry for the late response. Yes, it was the same field (<marathon>.tasks[x].statuses[x].container_status.network_infos.ip_addresses) I was looking @ too. Which is listing the Host IP instead of Container IP.

[2016-07-01 05:31] drewrobb opened #4055 "Option to lift one instance limit for apps using DVDI external volumes"
We would like to use the [netshare](netshare.containx.io) volume driver with the nfs based AWS EFS service for marathon apps. In this case there is no good reason (that I am aware of) to have a [constraint of only one app instance](https://github.com/mesosphere/marathon/blob/d39289e3663eae0876541b0d748057b0625c753e/src/main/scala/mesosphere/marathon/core/externalvolume/impl/providers/DVDIProvider.

[2016-07-01 07:25] timoreimann opened #4056 "forceful operations effective on empty 'force' query parameter value"
Being a boolean type, The `force` query parameter available to PUT or DELETE requests should only become effective if its value is set to _true_. At least on Marathon 1.1.1, however, operations are also forced if the content of the query parameter is left empty. That is, a request of the kind

`http://my-mesos-master:8080/v2/apps/myapp?force=`

triggers a forceful deployment. My suggestion would b

[2016-07-01 08:23] sahlex commented on #3895
It was not working for me when I had `slave_public` set, that's why I took it away so the marathon-lb matches offers from other hosts as well. I switched it back, and now it works!

I assume it was due to resource request that could not be satisfied by the public node. I set hosts to 0.5 and memory to 256MB and now it starts up.

Anyways - thanks!

[2016-07-01 11:41] ajays20078 opened #4057 "Updating a Label without new deployment."
Is it possible to update a label without triggering a new deployment?

 Currently any label which get updated triggers a new deployment. The Label may not be of significance to the instances  themselves and may be used by LB( HAPROXY_ prefixed labels supported by marathon-lb,),lets say there is a label HAPROXY_WEIGHT, which can dynamically change weight of instance in LB, but it donesn't directly

[2016-07-01 12:42] janisz commented on #4057
Similar to #3945

[2016-07-01 16:32] ruippeixotog opened #4059 "Scaling an app down after a node goes down doesn't work"
I apologize in advance for the slightly vague title, but I couldn't think of a better one. Consider the following scenario:

- Marathon has 3 nodes;
- An app has 3 running instances, constrained to run in unique hostnames;
- One of the Marathon nodes goes down unexpectedly.

The app enters the "Waiting" state, as it doesn't have the resources to relocate the lost instance:

![image](https://cloud.

[2016-07-01 16:48] djosborne commented on #3907
@Lax77 Ok. Then I don't believe this is a Marathon issue. I think the real issue is that the Agent is filling in network_info with Agent IPs when a task fails to start. Want to close this and [raise a JIRA](https://issues.apache.org/jira/browse/mesos) for clarification from the Mesos Maintainers?

[2016-07-01 16:50] gkleiman commented on #4057
Closing as dupe of #3945 and labelling #3945 appropriately.

[2016-07-01 16:50] #4057 closed

[2016-07-01 16:51] gkleiman commented on #3945
@oilbeater I'm afraid that this is currently not possible.

[2016-07-01 20:48] Lax77 commented on #3907
In my case Task does start, I dont see any failures. It is just that as soon as I bring up my task with Health Check, mesos state API ends up giving in Host IP instead of Container IP.

Between I noticed recently there was commit in this space, https://github.com/mesosphere/marathon/pull/4029. Not sure if it was meant to fix this issue though.

[2016-07-01 20:56] brat002 commented on #3907
This problem is related only to Mesos. It is not Marathon bug.
Mesos, after first healthCheck was triggered, rewrites task info structure
and lost all previously collected data about IpAddress.

2016-07-01 23:49 GMT+03:00 Lax77 <notifications@github.com>:

[2016-07-01 21:27] Lax77 commented on #3907
oh ok

[2016-07-01 23:34] timcharper opened #4061 "Tasks fail to load when period-containing volumeID is defined"
Steps to reproduce:

1. Create and run a task with a persistent volume, called `registry.domain`.
2. Wait for the task to be launched
3. Restart Marathon and watch it fail to load tasks:

[code]

Marathon version 1.1.1

[2016-07-01 23:37] timcharper commented on #4061
The period-containing volume reservation did register with mesos. It appears that Marathon's validation is more strict than Mesos, although it's weird that it allowed it to be created.

[2016-07-02 00:35] timcharper commented on #4061
The persistent volume did not appear to be created. To get things running, I used the zookeeper CLI to find and delete the task in `/marathon/state`, IE:

[code]

Then restarted marathon. I found the mesos executor on the box where this was launched and killed it manually, too. There were no traces of it left in the mesos master state.

[2016-07-02 05:35] oilbeater commented on #3945
Will this be supported in later version? Label now will not affect running container, no deploy is needed and dynamic label can add much flexibility for other tools to interact with marathon.

[2016-07-03 00:31] Lax77 commented on #3907
Opened a JIRA ticket with mesos maintainers. JIRA link, https://issues.apache.org/jira/browse/MESOS-5770

[2016-07-04 05:50] ryankennedyio opened #4063 "Unsuccessful leader election - [500 Internal Server on everything Marathon related -- DCOS 1.7 on Azure]"
Hi guys,

Ran into this fun one about half an hour ago. Wasn't doing anything I hadn't done before -- I think I was changing the ports in one of the apps loaded before scaling it up.

All the docker images that were running from Marathon still seem to be up.  DCOS is showing the correct CPU/Memory allocated. Mesos was giving me 503 errors for a few minutes but has fixed itself -- showing all slave

[2016-07-04 05:51] ryankennedyio commented on #4063
Probably being able to get the logs would be helpful -- anyone have the specific command that should do it? I would have thought `journalctl --follow -u dcos-marathon`, but doesn't seem to be spitting out the actual error.

[2016-07-04 09:47] gkleiman commented on #4063
@ryankennedyio those logs are from a Marathon follower, you should get the logs from the leader, which seems to be running on 172.16.0.9.

[2016-07-04 10:41] ryankennedyio commented on #4063
Thanks @gkleiman

I've done ssh `user@172.16.0.9`, done the `journalctl` command and now have the following;

[code]

Something might have gone wrong with leader election?

[2016-07-04 10:45] ryankennedyio commented on #4063
Just to confirm that host;
### ifconfig
[code]

[2016-07-04 10:54] gkleiman commented on #3913
Closing due to inactivity

[2016-07-04 10:54] #3913 closed

[2016-07-04 10:54] gkleiman commented on #4063
Related to #4000 and #3866.

[2016-07-04 10:56] gkleiman commented on #4063
This should hopefully be fixed by 2a1bbe42a27c6bab90f8b93d262d97b1d5907c0e.

[2016-07-04 10:56] gkleiman commented on #3866
This should hopefully be fixed by 2a1bbe4.

[2016-07-04 10:59] ryankennedyio commented on #4063
Thanks again @gkleiman

Should restarting the masters one by one resolve this -- and then perform the upgrade to `V1.2.0-RC4` be safe?

[2016-07-04 11:00] gkleiman commented on #4063
@ryankennedyio restarting the servers one by one should help resolve it. I don't recommend running a RC version in production.

[2016-07-04 11:21] gkleiman commented on #4000
This should hopefully be fixed by 2a1bbe4.

[2016-07-04 11:23] gkleiman commented on #3516
cc/ @ssk2

[2016-07-04 12:12] ryankennedyio commented on #4063
@gkleiman I've just gone through all of my master nodes and rebooted them -- seemingly same deal. Tried one more time & no luck. `dcos package list` now provides the following error instead, which is a bit different:
`URL [https://localhost/package/list] is unreachable: ('Connection aborted.', error(111, 'Connection refused'))`

Following journalctl logs again on the master provides us with:
[code

[2016-07-04 12:21] ryankennedyio commented on #4063
Sorry -- will let you do the close/open whenever you see fit.

[2016-07-04 14:49] gkleiman opened #4064 "TaskLostIntegrationTest is flaky"
[code]

[2016-07-04 16:30] ssk2 commented on #3516
Hi @junneyang, there is a Mesos plugin which allows the Jenkins scheduler to run builds on Mesos itself. You can run the Jenkins master on Marathon. (This is how the DC/OS package for Jenkins does it.)

These links may help:
+ http://www.ebaytechblog.com/2014/04/04/delivering-ebays-ci-solution-with-apache-mesos-part-i/
+ http://www.ebaytechblog.com/2014/05/12/delivering-ebays-ci-solution-with-apac

[2016-07-04 16:30] #3516 closed

[2016-07-05 09:36] anrs commented on #1801
@benpillet got it, thank for your explanation.

[2016-07-05 12:57] janisz commented on #4046
I did some research on how to fix this behavior [here](https://github.com/janisz/marathon/commit/90f67ac7254a6e220919dbc72e42b353404c200a) but unfortunately I failed and can't see easy way to do it :(

[2016-07-05 13:05] jdef commented on #4054
should be possible to specify discovery information via portMappings; can you try that instead?

[2016-07-05 13:07] kamilchm commented on #4046
What are the problems?

[2016-07-05 16:31] jdef opened #4065 "Proposal: generate MARATHON_NETWORK_NAME envvar when networkInfo.name is not empty"
Frameworks running as apps in Marathon may be configured to run on a particular virtual network. If that framework launches tasks then those tasks should _likely_ be configured to run on the same virtual network. In order to accomplish this the framework needs to discover the name of the virtual network upon which it is running.

Proposal:
- Marathon will generate a `MARATHON_NETWORK_NAME` environ

[2016-07-05 23:05] adam-mesos commented on #4065
But then if those apps/tasks register with Mesos as a scheduler themselves (e.g. Spark), how do they know to pass the network name on to the tasks they launch?

[2016-07-05 23:19] mgummelt commented on #4065
Rather than forcing the scheduler to tell its tasks what network they're in, can't we do this at the Mesos level?  Mesos could look at the network the scheduler is running in, and by default launch tasks in that network.

[2016-07-05 23:31] mgummelt commented on #4065
Yea, I figured, but I think that's the correct solution.  For example, your OS knows that your process is running as `adam`, so it knows to implicitly launch subprocesses under `adam`.

[2016-07-06 09:44] kopax opened #4066 "Pass arguments to Docker run command"
I need to add a `--log-level` debug.
I have tried with `args: ["/run.sh`,"--log-level","debug"] but the container crash.
I just need to know if it's the appropriate way.

[2016-07-06 10:50] meichstedt commented on #4059
@ruippeixotog Thanks for reporting this, and I think the title is just fine ;)

Which Marathon version are you using? Can you provide logs for this? The deployment steps are logged so it would be interesting to see what's going on there. It should definitely just be a ScaleApplicationStep.

The LaunchQueue obviously wasn't updated and I'm wondering why there's no deployment in progress.

Seems rel

[2016-07-06 11:49] brat002 commented on #3957
After some improvements in mesos https://github.com/apache/mesos/issues/118, looks like marathon also has a problem.
Now Mesos shows health: true after leader re-election, but marathon still show "unknown" health.

Marathon task status:
`id: "lsau01-XXXXXXXXXXXXXX",
name: "lsau01-XXXXXXXXXXXXXX",
framework_id: "c5ad05ba-4a33-4d65-ab67-4d7c29928985-0001",
executor_id: "",
slave_id: "9c7ac89c-0410-4

[2016-07-06 11:49] brat002 commented on #3957
Please, reopen bug.

[2016-07-06 14:20] janisz commented on #4046
I've tried to reproduce this issue using [latest](https://github.com/mesosphere/marathon/commit/668695f) Mesos and it looks like problem was solved

[2016-07-06 15:19] brat002 commented on #3957
Another problem - containers randomly losts own health status in Marathon, but Mesos still write health: true to their stdout/stderr's.

[2016-07-06 17:19] ruippeixotog commented on #4059
I'm using Marathon 1.1.1 with Mesos 0.28.2.

Can you specify which logs do you need? I tried filtering useful messages from `/var/log/syslog`, but it doesn't seem to have useful information... A filtered syslog example is [here](http://pastebin.com/57UYUz9K), where I terminated a node at 16:48:00 and scaled the application (named `my-task`) down at 16:51:00. If you want I can try the case with dif

[2016-07-06 22:57] mpark commented on #4011
#4067

[2016-07-07 02:25] Spritekin commented on #3866
Awesome... waiting for 1.2 then!

[2016-07-07 09:03] #2575 closed

[2016-07-07 09:49] gkleiman opened #4071 "Service Port validations are not consistently enforced"
## Creating multiple apps in the same group with a single request

`POST /v2/groups/` the following:

<details>
[code]
</details>

You will get:

[code]
This is the desired behaviour.

## Create multiple apps in the same group using the `POST /v2/apps` endpoint
`POST /v2/apps` with:

<details>
[code]
</details>

And then `POST /v2/apps`:

<details>
[code]
</details>

We get the same validation err

[2016-07-07 09:59] nitram509 commented on #2874
+1 same problem :(

Our environment looks like this:
* CentOS 7
* Marathon: 0.15.2
* Mesos: 0.28.1
* Docker: 1.10.3

### Our Observations

Services running inside docker are killed and restarted, when they do number crunching and/or are close to the memory limit for a few minutes.1

#### background information

* typically we have Java microservices, e.g. running with memory limit "-Xmx512m"
   *